.hub-authentication-card__size {
  max-width: 30em;
  margin: auto;
  margin-top: 3em;
}

.hub-authentication-card__header {
  font-size: 2em;
  justify-content: center;
}

.hub-authentication-card__body {
  text-align: center;
}

.hub-authentication-card__body button {
  background-color: #1e66cc;
  border-color: #1e66cc;
  color: #ffffff;
  padding: 0.3em 2em 0.3em 2em;
}
