openapi: 3.0.3
info:
  title: Tekton Hub
  description: HTTP services for managing Tekton Hub
  version: "1.0"
servers:
- url: https://api.hub.tekton.dev
paths:
  /:
    get:
      tags:
      - status
      summary: Status status
      description: Return status of the services
      operationId: status#Status
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponseBody'
              example:
                services:
                - error: unable to reach db
                  name: api
                  status: ok
                - error: unable to reach db
                  name: api
                  status: ok
  /catalog/{catalogName}/error:
    get:
      tags:
      - catalog
      summary: CatalogError catalog
      description: List all errors occurred refreshing a catalog
      operationId: catalog#CatalogError
      parameters:
      - name: catalogName
        in: path
        description: Name of catalog
        required: true
        schema:
          type: string
          description: Name of catalog
          example: tekton
        example: tekton
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogErrorResponseBody'
              example:
                data:
                - errors:
                  - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display
                    name
                  - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
                  type: warning
                - errors:
                  - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display
                    name
                  - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
                  type: warning
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
      - jwt_header_Authorization:
        - rating:read
        - rating:write
        - agent:create
        - catalog:refresh
        - config:refresh
        - refresh:token
  /catalog/{catalogName}/refresh:
    post:
      tags:
      - catalog
      summary: Refresh catalog
      description: Refresh a Catalog by it's name
      operationId: catalog#Refresh
      parameters:
      - name: catalogName
        in: path
        description: Name of catalog
        required: true
        schema:
          type: string
          description: Name of catalog
          example: tekton
        example: tekton
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
              example:
                catalogName: tekton
                id: 1
                status: queued
        "404":
          description: Not Found response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
      - jwt_header_Authorization:
        - rating:read
        - rating:write
        - agent:create
        - catalog:refresh
        - config:refresh
        - refresh:token
  /catalog/refresh:
    post:
      tags:
      - catalog
      summary: RefreshAll catalog
      description: Refresh all catalogs
      operationId: catalog#RefreshAll
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Job'
                example:
                - catalogName: tekton
                  id: 1
                  status: queued
                - catalogName: tekton
                  id: 1
                  status: queued
                - catalogName: tekton
                  id: 1
                  status: queued
              example:
              - catalogName: tekton
                id: 1
                status: queued
              - catalogName: tekton
                id: 1
                status: queued
              - catalogName: tekton
                id: 1
                status: queued
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
      - jwt_header_Authorization:
        - rating:read
        - rating:write
        - agent:create
        - catalog:refresh
        - config:refresh
        - refresh:token
  /categories:
    get:
      tags:
      - category
      summary: list category
      description: List all categories along with their tags sorted by name
      operationId: category#list
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBody'
              example:
                data:
                - id: 1
                  name: Image Builder
                - id: 1
                  name: Image Builder
                - id: 1
                  name: Image Builder
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
  /query:
    get:
      tags:
      - resource
      summary: Query resource
      description: Find resources by a combination of name, kind, catalog, categories,
        platforms, and tags
      operationId: resource#Query
      parameters:
      - name: name
        in: query
        description: Name of resource
        allowEmptyValue: true
        schema:
          type: string
          description: Name of resource
          default: ""
          example: buildah
        example: buildah
      - name: catalogs
        in: query
        description: Catalogs of resource to filter by
        allowEmptyValue: true
        schema:
          type: array
          items:
            type: string
            example: Sunt voluptas.
          description: Catalogs of resource to filter by
          example:
          - tekton
          - openshift
        example:
        - tekton
        - openshift
      - name: categories
        in: query
        description: Category associated with a resource to filter by
        allowEmptyValue: true
        schema:
          type: array
          items:
            type: string
            example: Non illo accusantium aut iste.
          description: Category associated with a resource to filter by
          example:
          - build
          - tools
        example:
        - build
        - tools
      - name: kinds
        in: query
        description: Kinds of resource to filter by
        allowEmptyValue: true
        schema:
          type: array
          items:
            type: string
            example: Similique temporibus sequi est nihil facilis adipisci.
          description: Kinds of resource to filter by
          example:
          - task
          - pipelines
        example:
        - task
        - pipelines
      - name: tags
        in: query
        description: Tags associated with a resource to filter by
        allowEmptyValue: true
        schema:
          type: array
          items:
            type: string
            example: Rem error consequuntur autem enim.
          description: Tags associated with a resource to filter by
          example:
          - image
          - build
        example:
        - image
        - build
      - name: platforms
        in: query
        description: Platforms associated with a resource to filter by
        allowEmptyValue: true
        schema:
          type: array
          items:
            type: string
            example: Voluptatem inventore.
          description: Platforms associated with a resource to filter by
          example:
          - linux/s390x
          - linux/amd64
        example:
        - linux/s390x
        - linux/amd64
      - name: limit
        in: query
        description: Maximum number of resources to be returned
        allowEmptyValue: true
        schema:
          type: integer
          description: Maximum number of resources to be returned
          default: 1000
          example: 100
        example: 100
      - name: match
        in: query
        description: Strategy used to find matching resources
        allowEmptyValue: true
        schema:
          type: string
          description: Strategy used to find matching resources
          default: contains
          example: exact
          enum:
          - exact
          - contains
        example: contains
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resources'
              example:
                data:
                - catalog:
                    id: 1
                    name: tekton
                    type: community
                  categories:
                  - id: 1
                    name: image-build
                  id: 1
                  kind: task
                  latestVersion:
                    description: Buildah task builds source into a container image
                      and then pushes it to a container registry.
                    displayName: Buildah
                    id: 1
                    minPipelinesVersion: 0.12.1
                    platforms:
                    - id: 1
                      name: linux/amd64
                    rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
                    updatedAt: 2020-01-01 12:00:00 +0000 UTC
                    version: "0.1"
                    webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
                  name: buildah
                  platforms:
                  - id: 1
                    name: linux/amd64
                  rating: 4.3
                  tags:
                  - id: 1
                    name: image-build
                  versions:
                  - id: 1
                    version: "0.1"
                  - id: 2
                    version: "0.2"
                - catalog:
                    id: 1
                    name: tekton
                    type: community
                  categories:
                  - id: 1
                    name: image-build
                  id: 1
                  kind: task
                  latestVersion:
                    description: Buildah task builds source into a container image
                      and then pushes it to a container registry.
                    displayName: Buildah
                    id: 1
                    minPipelinesVersion: 0.12.1
                    platforms:
                    - id: 1
                      name: linux/amd64
                    rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
                    updatedAt: 2020-01-01 12:00:00 +0000 UTC
                    version: "0.1"
                    webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
                  name: buildah
                  platforms:
                  - id: 1
                    name: linux/amd64
                  rating: 4.3
                  tags:
                  - id: 1
                    name: image-build
                  versions:
                  - id: 1
                    version: "0.1"
                  - id: 2
                    version: "0.2"
        "400":
          description: Bad Request response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "404":
          description: Not Found response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
  /resource/{catalog}/{kind}/{name}:
    get:
      tags:
      - resource
      summary: ByCatalogKindName resource
      description: Find resources using name of catalog, resource name and kind of
        resource
      operationId: resource#ByCatalogKindName
      parameters:
      - name: pipelinesversion
        in: query
        description: To find resource compatible with a Tekton pipelines version,
          use this param
        allowEmptyValue: true
        schema:
          type: string
          description: To find resource compatible with a Tekton pipelines version,
            use this param
          example: 0.21.0
          pattern: ^\d+(?:\.\d+){0,2}$
        example: 0.21.0
      - name: catalog
        in: path
        description: name of catalog
        required: true
        schema:
          type: string
          description: name of catalog
          example: tektoncd
        example: tektoncd
      - name: kind
        in: path
        description: kind of resource
        required: true
        schema:
          type: string
          description: kind of resource
          example: pipeline
          enum:
          - task
          - pipeline
        example: pipeline
      - name: name
        in: path
        description: Name of resource
        required: true
        schema:
          type: string
          description: Name of resource
          example: buildah
        example: buildah
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
              example:
                data:
                  catalog:
                    id: 1
                    name: tekton
                    type: community
                  categories:
                  - id: 1
                    name: image-build
                  id: 1
                  kind: task
                  latestVersion:
                    description: Buildah task builds source into a container image
                      and then pushes it to a container registry.
                    displayName: Buildah
                    id: 1
                    minPipelinesVersion: 0.12.1
                    platforms:
                    - id: 1
                      name: linux/amd64
                    rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
                    updatedAt: 2020-01-01 12:00:00 +0000 UTC
                    version: "0.1"
                    webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
                  name: buildah
                  platforms:
                  - id: 1
                    name: linux/amd64
                  rating: 4.3
                  tags:
                  - id: 1
                    name: image-build
                  versions:
                  - id: 1
                    version: "0.1"
                  - id: 2
                    version: "0.2"
        "404":
          description: Not Found response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
  /resource/{catalog}/{kind}/{name}/{version}:
    get:
      tags:
      - resource
      summary: ByCatalogKindNameVersion resource
      description: Find resource using name of catalog & name, kind and version of
        resource
      operationId: resource#ByCatalogKindNameVersion
      parameters:
      - name: catalog
        in: path
        description: name of catalog
        required: true
        schema:
          type: string
          description: name of catalog
          example: tektoncd
        example: tektoncd
      - name: kind
        in: path
        description: kind of resource
        required: true
        schema:
          type: string
          description: kind of resource
          example: pipeline
          enum:
          - task
          - pipeline
        example: task
      - name: name
        in: path
        description: name of resource
        required: true
        schema:
          type: string
          description: name of resource
          example: buildah
        example: buildah
      - name: version
        in: path
        description: version of resource
        required: true
        schema:
          type: string
          description: version of resource
          example: "0.1"
        example: "0.1"
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceVersion'
              example:
                data:
                  deprecated: true
                  description: Buildah task builds source into a container image and
                    then pushes it to a container registry.
                  displayName: Buildah
                  id: 1
                  minPipelinesVersion: 0.12.1
                  platforms:
                  - id: 1
                    name: linux/s390x
                  rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
                  resource:
                    catalog:
                      id: 1
                      type: community
                    categories:
                    - id: 1
                      name: Build Tools
                    id: 1
                    kind: task
                    name: buildah
                    platforms:
                    - id: 1
                      name: linux/amd64
                    rating: 4.3
                    tags:
                    - id: 1
                      name: image-build
                  updatedAt: 2020-01-01 12:00:00 +0000 UTC
                  version: "0.1"
                  webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
        "404":
          description: Not Found response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
  /resource/{id}:
    get:
      tags:
      - resource
      summary: ById resource
      description: Find a resource using it's id
      operationId: resource#ById
      parameters:
      - name: id
        in: path
        description: ID of a resource
        required: true
        schema:
          type: integer
          description: ID of a resource
          example: 1
        example: 1
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
              example:
                data:
                  catalog:
                    id: 1
                    name: tekton
                    type: community
                  categories:
                  - id: 1
                    name: image-build
                  id: 1
                  kind: task
                  latestVersion:
                    description: Buildah task builds source into a container image
                      and then pushes it to a container registry.
                    displayName: Buildah
                    id: 1
                    minPipelinesVersion: 0.12.1
                    platforms:
                    - id: 1
                      name: linux/amd64
                    rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
                    updatedAt: 2020-01-01 12:00:00 +0000 UTC
                    version: "0.1"
                    webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
                  name: buildah
                  platforms:
                  - id: 1
                    name: linux/amd64
                  rating: 4.3
                  tags:
                  - id: 1
                    name: image-build
                  versions:
                  - id: 1
                    version: "0.1"
                  - id: 2
                    version: "0.2"
        "404":
          description: Not Found response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
  /resource/{id}/rating:
    get:
      tags:
      - rating
      summary: Get rating
      description: Find user's rating for a resource
      operationId: rating#Get
      parameters:
      - name: id
        in: path
        description: ID of a resource
        required: true
        schema:
          type: integer
          description: ID of a resource
          example: 1300969189960465860
        example: 4824738970219526651
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetResponseBody'
              example:
                rating: 4
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "403":
          description: Forbidden response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "404":
          description: Not Found response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
      - jwt_header_Authorization:
        - rating:read
        - rating:write
        - agent:create
        - catalog:refresh
        - config:refresh
        - refresh:token
    put:
      tags:
      - rating
      summary: Update rating
      description: Update user's rating for a resource
      operationId: rating#Update
      parameters:
      - name: id
        in: path
        description: ID of a resource
        required: true
        schema:
          type: integer
          description: ID of a resource
          example: 9941447640867000916
        example: 2975478370849669386
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRequestBody'
            example:
              rating: 4
      responses:
        "200":
          description: OK response.
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "403":
          description: Forbidden response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "404":
          description: Not Found response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
      - jwt_header_Authorization:
        - rating:read
        - rating:write
        - agent:create
        - catalog:refresh
        - config:refresh
        - refresh:token
  /resource/{id}/versions:
    get:
      tags:
      - resource
      summary: VersionsByID resource
      description: Find all versions of a resource by its id
      operationId: resource#VersionsByID
      parameters:
      - name: id
        in: path
        description: ID of a resource
        required: true
        schema:
          type: integer
          description: ID of a resource
          example: 1
        example: 1
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceVersions'
              example:
                data:
                  latest:
                    id: 2
                    rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.2/buildah.yaml
                    version: "0.2"
                    webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.2/buildah.yaml
                  versions:
                  - id: 1
                    rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
                    version: "0.1"
                    webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
                  - id: 2
                    rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.2/buildah.yaml
                    version: "0.2"
                    webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.2/buildah.yaml
        "404":
          description: Not Found response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
  /resource/version/{versionID}:
    get:
      tags:
      - resource
      summary: ByVersionId resource
      description: Find a resource using its version's id
      operationId: resource#ByVersionId
      parameters:
      - name: versionID
        in: path
        description: Version ID of a resource's version
        required: true
        schema:
          type: integer
          description: Version ID of a resource's version
          example: 1
        example: 1
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceVersion'
              example:
                data:
                  deprecated: true
                  description: Buildah task builds source into a container image and
                    then pushes it to a container registry.
                  displayName: Buildah
                  id: 1
                  minPipelinesVersion: 0.12.1
                  platforms:
                  - id: 1
                    name: linux/s390x
                  rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
                  resource:
                    catalog:
                      id: 1
                      type: community
                    categories:
                    - id: 1
                      name: Build Tools
                    id: 1
                    kind: task
                    name: buildah
                    platforms:
                    - id: 1
                      name: linux/amd64
                    rating: 4.3
                    tags:
                    - id: 1
                      name: image-build
                  updatedAt: 2020-01-01 12:00:00 +0000 UTC
                  version: "0.1"
                  webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
        "404":
          description: Not Found response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
  /resources:
    get:
      tags:
      - resource
      summary: List resource
      description: List all resources sorted by rating and name
      operationId: resource#List
      parameters:
      - name: limit
        in: query
        description: Maximum number of resources to be returned
        allowEmptyValue: true
        schema:
          type: integer
          description: Maximum number of resources to be returned
          default: 1000
          example: 100
        example: 100
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resources'
              example:
                data:
                - catalog:
                    id: 1
                    name: tekton
                    type: community
                  categories:
                  - id: 1
                    name: image-build
                  id: 1
                  kind: task
                  latestVersion:
                    description: Buildah task builds source into a container image
                      and then pushes it to a container registry.
                    displayName: Buildah
                    id: 1
                    minPipelinesVersion: 0.12.1
                    platforms:
                    - id: 1
                      name: linux/amd64
                    rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
                    updatedAt: 2020-01-01 12:00:00 +0000 UTC
                    version: "0.1"
                    webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
                  name: buildah
                  platforms:
                  - id: 1
                    name: linux/amd64
                  rating: 4.3
                  tags:
                  - id: 1
                    name: image-build
                  versions:
                  - id: 1
                    version: "0.1"
                  - id: 2
                    version: "0.2"
                - catalog:
                    id: 1
                    name: tekton
                    type: community
                  categories:
                  - id: 1
                    name: image-build
                  id: 1
                  kind: task
                  latestVersion:
                    description: Buildah task builds source into a container image
                      and then pushes it to a container registry.
                    displayName: Buildah
                    id: 1
                    minPipelinesVersion: 0.12.1
                    platforms:
                    - id: 1
                      name: linux/amd64
                    rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
                    updatedAt: 2020-01-01 12:00:00 +0000 UTC
                    version: "0.1"
                    webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
                  name: buildah
                  platforms:
                  - id: 1
                    name: linux/amd64
                  rating: 4.3
                  tags:
                  - id: 1
                    name: image-build
                  versions:
                  - id: 1
                    version: "0.1"
                  - id: 2
                    version: "0.2"
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
  /schema/swagger.json:
    get:
      tags:
      - swagger
      summary: Download docs/openapi3.json
      description: JSON document containing the API swagger definition
      operationId: swagger#/schema/swagger.json
      responses:
        "200":
          description: File downloaded
  /system/config/refresh:
    post:
      tags:
      - admin
      summary: RefreshConfig admin
      description: Refresh the changes in config file
      operationId: admin#RefreshConfig
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshConfigResponseBody'
              example:
                checksum: 41ba391c8baf1fcd3c62c11272b913dc6613f4cf3b1833cfbb32431dc4384c93
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "403":
          description: Forbidden response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
      - jwt_header_Authorization:
        - rating:read
        - rating:write
        - agent:create
        - catalog:refresh
        - config:refresh
        - refresh:token
  /system/user/agent:
    put:
      tags:
      - admin
      summary: UpdateAgent admin
      description: Create or Update an agent user with required scopes
      operationId: admin#UpdateAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequestBody'
            example:
              name: abc
              scopes:
              - catalog-refresh
              - agent:create
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAgentResponseBody'
              example:
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
        "400":
          description: Bad Request response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "403":
          description: Forbidden response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
      - jwt_header_Authorization:
        - rating:read
        - rating:write
        - agent:create
        - catalog:refresh
        - config:refresh
        - refresh:token
  /user/info:
    get:
      tags:
      - user
      summary: Info user
      description: Get the user Info
      operationId: user#Info
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoResponseBody'
              example:
                data:
                  avatarUrl: https://avatars.githubusercontent.com
                  githubId: abc123
                  name: abc
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "403":
          description: Forbidden response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
      - jwt_header_Authorization:
        - rating:read
        - rating:write
        - agent:create
        - catalog:refresh
        - config:refresh
        - refresh:token
  /user/refresh/accesstoken:
    post:
      tags:
      - user
      summary: RefreshAccessToken user
      description: Refresh the access token of User
      operationId: user#RefreshAccessToken
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshAccessTokenResponseBody'
              example:
                data:
                  access:
                    expiresAt: 0
                    refreshInterval: 1h30m
                    token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "403":
          description: Forbidden response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
      - jwt_header_Authorization:
        - rating:read
        - rating:write
        - agent:create
        - catalog:refresh
        - config:refresh
        - refresh:token
  /user/refresh/refreshtoken:
    post:
      tags:
      - user
      summary: NewRefreshToken user
      description: Get a new refresh token of User
      operationId: user#NewRefreshToken
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewRefreshTokenResponseBody'
              example:
                data:
                  refresh:
                    expiresAt: 0
                    refreshInterval: 1h30m
                    token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "403":
          description: Forbidden response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
      - jwt_header_Authorization:
        - rating:read
        - rating:write
        - agent:create
        - catalog:refresh
        - config:refresh
        - refresh:token
  /v1:
    get:
      tags:
      - status
      summary: Status status
      description: Return status of the services
      operationId: status#Status#1
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponseBody'
              example:
                services:
                - error: unable to reach db
                  name: api
                  status: ok
                - error: unable to reach db
                  name: api
                  status: ok
  /v1/categories:
    get:
      tags:
      - category
      summary: list category
      description: List all categories along with their tags sorted by name
      operationId: category#list#1
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBody'
              example:
                data:
                - id: 1
                  name: Image Builder
                - id: 1
                  name: Image Builder
                - id: 1
                  name: Image Builder
        "500":
          description: Internal Server Error response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
components:
  schemas:
    AccessToken:
      type: object
      properties:
        access:
          $ref: '#/components/schemas/Token'
      description: Access Token for User
      example:
        access:
          expiresAt: 0
          refreshInterval: 1h30m
          token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
    Catalog:
      type: object
      properties:
        id:
          type: integer
          description: ID is the unique id of the catalog
          example: 1
        name:
          type: string
          description: Name of catalog
          example: Tekton
        type:
          type: string
          description: Type of catalog
          example: community
          enum:
          - official
          - community
        url:
          type: string
          description: URL of catalog
          example: https://github.com/tektoncd/hub
      example:
        id: 1
        name: Tekton
        type: community
        url: https://github.com/tektoncd/hub
      required:
      - id
      - name
      - type
      - url
    CatalogErrorResponseBody:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CatalogErrors'
          description: Catalog errors
          example:
          - errors:
            - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
            - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
            type: warning
          - errors:
            - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
            - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
            type: warning
          - errors:
            - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
            - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
            type: warning
      example:
        data:
        - errors:
          - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
          - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
          type: warning
        - errors:
          - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
          - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
          type: warning
        - errors:
          - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
          - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
          type: warning
        - errors:
          - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
          - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
          type: warning
      required:
      - data
    CatalogErrors:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
            example: Beatae est.
          description: Catalog Error message
          example:
          - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
          - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
        type:
          type: string
          description: Catalog Errror type
          example: warning
      description: CatalogErrors define the errors that occurred during catalog refresh
      example:
        errors:
        - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
        - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
        type: warning
      required:
      - type
      - errors
    Category:
      type: object
      properties:
        id:
          type: integer
          description: ID is the unique id of the category
          example: 1
        name:
          type: string
          description: Name of category
          example: Image Builder
      example:
        id: 1
        name: Image Builder
      required:
      - id
      - name
    Error:
      type: object
      properties:
        fault:
          type: boolean
          description: Is the error a server-side fault?
          example: false
        id:
          type: string
          description: ID is a unique identifier for this particular occurrence of
            the problem.
          example: 123abc
        message:
          type: string
          description: Message is a human-readable explanation specific to this occurrence
            of the problem.
          example: parameter 'p' must be an integer
        name:
          type: string
          description: Name is the name of this class of errors.
          example: bad_request
        temporary:
          type: boolean
          description: Is the error temporary?
          example: true
        timeout:
          type: boolean
          description: Is the error a timeout?
          example: true
      description: Invalid request body
      example:
        id: 3F1FKVRR
        message: Value of ID must be an integer
        name: bad_request
      required:
      - name
      - id
      - message
      - temporary
      - timeout
      - fault
    GetResponseBody:
      type: object
      properties:
        rating:
          type: integer
          description: User rating for resource
          example: 4
          format: int64
      example:
        rating: 4
      required:
      - rating
    HubService:
      type: object
      properties:
        error:
          type: string
          description: Details of the error if any
          example: unable to reach db
        name:
          type: string
          description: Name of the service
          example: api
        status:
          type: string
          description: Status of the service
          example: ok
          enum:
          - ok
          - error
      description: Describes the services and their status
      example:
        error: unable to reach db
        name: api
        status: ok
      required:
      - name
      - status
    InfoResponseBody:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UserData'
      example:
        data:
          avatarUrl: https://avatars.githubusercontent.com
          githubId: abc123
          name: abc
      required:
      - data
    Job:
      type: object
      properties:
        catalogName:
          type: string
          description: Name of the catalog
          example: tekton
        id:
          type: integer
          description: id of the job
          example: 1
        status:
          type: string
          description: status of the job
          example: queued
      example:
        catalogName: tekton
        id: 1
        status: queued
      required:
      - id
      - catalogName
      - status
    ListResponseBody:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Category'
          example:
          - id: 1
            name: Image Builder
          - id: 1
            name: Image Builder
          - id: 1
            name: Image Builder
      example:
        data:
        - id: 1
          name: Image Builder
        - id: 1
          name: Image Builder
        - id: 1
          name: Image Builder
    NewRefreshTokenResponseBody:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/RefreshToken'
      example:
        data:
          refresh:
            expiresAt: 0
            refreshInterval: 1h30m
            token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
      required:
      - data
    RefreshAccessTokenResponseBody:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AccessToken'
      example:
        data:
          access:
            expiresAt: 0
            refreshInterval: 1h30m
            token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
      required:
      - data
    RefreshConfigResponseBody:
      type: object
      properties:
        checksum:
          type: string
          description: Config file checksum
          example: 41ba391c8baf1fcd3c62c11272b913dc6613f4cf3b1833cfbb32431dc4384c93
      example:
        checksum: 41ba391c8baf1fcd3c62c11272b913dc6613f4cf3b1833cfbb32431dc4384c93
      required:
      - checksum
    RefreshToken:
      type: object
      properties:
        refresh:
          $ref: '#/components/schemas/Token'
      description: Refresh Token for User
      example:
        refresh:
          expiresAt: 0
          refreshInterval: 1h30m
          token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
    Resource:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ResourceData'
      example:
        data:
          catalog:
            id: 1
            name: tekton
            type: community
          categories:
          - id: 1
            name: image-build
          id: 1
          kind: task
          latestVersion:
            description: Buildah task builds source into a container image and then
              pushes it to a container registry.
            displayName: Buildah
            id: 1
            minPipelinesVersion: 0.12.1
            platforms:
            - id: 1
              name: linux/amd64
            rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
            updatedAt: 2020-01-01 12:00:00 +0000 UTC
            version: "0.1"
            webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
          name: buildah
          platforms:
          - id: 1
            name: linux/amd64
          rating: 4.3
          tags:
          - id: 1
            name: image-build
          versions:
          - id: 1
            version: "0.1"
          - id: 2
            version: "0.2"
      required:
      - data
    ResourceData:
      type: object
      properties:
        catalog:
          $ref: '#/components/schemas/Catalog'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
          description: Categories related to resource
          example:
          - id: 1
            name: image-build
        id:
          type: integer
          description: ID is the unique id of the resource
          example: 1
        kind:
          type: string
          description: Kind of resource
          example: task
        latestVersion:
          $ref: '#/components/schemas/ResourceVersionData'
        name:
          type: string
          description: Name of resource
          example: buildah
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/Category'
          description: Platforms related to resource
          example:
          - id: 1
            name: linux/amd64
        rating:
          type: number
          description: Rating of resource
          example: 4.3
          format: double
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Category'
          description: Tags related to resource
          example:
          - id: 1
            name: image-build
        versions:
          type: array
          items:
            $ref: '#/components/schemas/ResourceVersionData'
          description: List of all versions of a resource
          example:
          - id: 1
            version: "0.1"
          - id: 2
            version: "0.2"
      description: The resource type describes resource information.
      example:
        catalog:
          id: 1
          name: tekton
          type: community
        categories:
        - id: 1
          name: image-build
        id: 1
        kind: task
        latestVersion:
          description: Buildah task builds source into a container image and then
            pushes it to a container registry.
          displayName: Buildah
          id: 1
          minPipelinesVersion: 0.12.1
          platforms:
          - id: 1
            name: linux/amd64
          rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
          updatedAt: 2020-01-01 12:00:00 +0000 UTC
          version: "0.1"
          webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
        name: buildah
        platforms:
        - id: 1
          name: linux/amd64
        rating: 4.3
        tags:
        - id: 1
          name: image-build
        versions:
        - id: 1
          version: "0.1"
        - id: 2
          version: "0.2"
      required:
      - id
      - name
      - catalog
      - categories
      - kind
      - latestVersion
      - tags
      - platforms
      - rating
      - versions
    ResourceDataCollection:
      type: array
      items:
        $ref: '#/components/schemas/ResourceData'
      example:
      - catalog:
          id: 1
          name: tekton
          type: community
        categories:
        - id: 1
          name: image-build
        id: 1
        kind: task
        latestVersion:
          description: Buildah task builds source into a container image and then
            pushes it to a container registry.
          displayName: Buildah
          id: 1
          minPipelinesVersion: 0.12.1
          platforms:
          - id: 1
            name: linux/amd64
          rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
          updatedAt: 2020-01-01 12:00:00 +0000 UTC
          version: "0.1"
          webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
        name: buildah
        platforms:
        - id: 1
          name: linux/amd64
        rating: 4.3
        tags:
        - id: 1
          name: image-build
        versions:
        - id: 1
          version: "0.1"
        - id: 2
          version: "0.2"
      - catalog:
          id: 1
          name: tekton
          type: community
        categories:
        - id: 1
          name: image-build
        id: 1
        kind: task
        latestVersion:
          description: Buildah task builds source into a container image and then
            pushes it to a container registry.
          displayName: Buildah
          id: 1
          minPipelinesVersion: 0.12.1
          platforms:
          - id: 1
            name: linux/amd64
          rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
          updatedAt: 2020-01-01 12:00:00 +0000 UTC
          version: "0.1"
          webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
        name: buildah
        platforms:
        - id: 1
          name: linux/amd64
        rating: 4.3
        tags:
        - id: 1
          name: image-build
        versions:
        - id: 1
          version: "0.1"
        - id: 2
          version: "0.2"
      - catalog:
          id: 1
          name: tekton
          type: community
        categories:
        - id: 1
          name: image-build
        id: 1
        kind: task
        latestVersion:
          description: Buildah task builds source into a container image and then
            pushes it to a container registry.
          displayName: Buildah
          id: 1
          minPipelinesVersion: 0.12.1
          platforms:
          - id: 1
            name: linux/amd64
          rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
          updatedAt: 2020-01-01 12:00:00 +0000 UTC
          version: "0.1"
          webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
        name: buildah
        platforms:
        - id: 1
          name: linux/amd64
        rating: 4.3
        tags:
        - id: 1
          name: image-build
        versions:
        - id: 1
          version: "0.1"
        - id: 2
          version: "0.2"
    ResourceVersion:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ResourceVersionData'
      example:
        data:
          deprecated: true
          description: Buildah task builds source into a container image and then
            pushes it to a container registry.
          displayName: Buildah
          id: 1
          minPipelinesVersion: 0.12.1
          platforms:
          - id: 1
            name: linux/s390x
          rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
          resource:
            catalog:
              id: 1
              type: community
            categories:
            - id: 1
              name: Build Tools
            id: 1
            kind: task
            name: buildah
            platforms:
            - id: 1
              name: linux/amd64
            rating: 4.3
            tags:
            - id: 1
              name: image-build
          updatedAt: 2020-01-01 12:00:00 +0000 UTC
          version: "0.1"
          webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
      required:
      - data
    ResourceVersionData:
      type: object
      properties:
        deprecated:
          type: boolean
          description: Deprecation status of a version
          example: true
        description:
          type: string
          description: Description of version
          example: Buildah task builds source into a container image and then pushes
            it to a container registry.
        displayName:
          type: string
          description: Display name of version
          example: Buildah
        id:
          type: integer
          description: ID is the unique id of resource's version
          example: 1
        minPipelinesVersion:
          type: string
          description: Minimum pipelines version the resource's version is compatible
            with
          example: 0.12.1
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/Category'
          description: Platforms related to resource version
          example:
          - id: 1
            name: linux/s390x
        rawURL:
          type: string
          description: Raw URL of resource's yaml file of the version
          example: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
          format: uri
        resource:
          $ref: '#/components/schemas/ResourceData'
        updatedAt:
          type: string
          description: Timestamp when version was last updated
          example: 2020-01-01 12:00:00 +0000 UTC
          format: date-time
        version:
          type: string
          description: Version of resource
          example: "0.1"
        webURL:
          type: string
          description: Web URL of resource's yaml file of the version
          example: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
          format: uri
      description: The Version result type describes resource's version information.
      example:
        deprecated: true
        description: Buildah task builds source into a container image and then pushes
          it to a container registry.
        displayName: Buildah
        id: 1
        minPipelinesVersion: 0.12.1
        platforms:
        - id: 1
          name: linux/s390x
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
        resource:
          catalog:
            id: 1
            type: community
          categories:
          - id: 1
            name: Build Tools
          id: 1
          kind: task
          name: buildah
          platforms:
          - id: 1
            name: linux/amd64
          rating: 4.3
          tags:
          - id: 1
            name: image-build
        updatedAt: 2020-01-01 12:00:00 +0000 UTC
        version: "0.1"
        webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
      required:
      - id
      - version
      - displayName
      - description
      - minPipelinesVersion
      - rawURL
      - webURL
      - updatedAt
      - platforms
      - resource
    ResourceVersions:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Versions'
      example:
        data:
          latest:
            id: 2
            rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.2/buildah.yaml
            version: "0.2"
            webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.2/buildah.yaml
          versions:
          - id: 1
            rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
            version: "0.1"
            webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
          - id: 2
            rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.2/buildah.yaml
            version: "0.2"
            webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.2/buildah.yaml
      required:
      - data
    Resources:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ResourceDataCollection'
      example:
        data:
        - catalog:
            id: 1
            name: tekton
            type: community
          categories:
          - id: 1
            name: image-build
          id: 1
          kind: task
          latestVersion:
            description: Buildah task builds source into a container image and then
              pushes it to a container registry.
            displayName: Buildah
            id: 1
            minPipelinesVersion: 0.12.1
            platforms:
            - id: 1
              name: linux/amd64
            rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
            updatedAt: 2020-01-01 12:00:00 +0000 UTC
            version: "0.1"
            webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
          name: buildah
          platforms:
          - id: 1
            name: linux/amd64
          rating: 4.3
          tags:
          - id: 1
            name: image-build
          versions:
          - id: 1
            version: "0.1"
          - id: 2
            version: "0.2"
        - catalog:
            id: 1
            name: tekton
            type: community
          categories:
          - id: 1
            name: image-build
          id: 1
          kind: task
          latestVersion:
            description: Buildah task builds source into a container image and then
              pushes it to a container registry.
            displayName: Buildah
            id: 1
            minPipelinesVersion: 0.12.1
            platforms:
            - id: 1
              name: linux/amd64
            rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
            updatedAt: 2020-01-01 12:00:00 +0000 UTC
            version: "0.1"
            webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
          name: buildah
          platforms:
          - id: 1
            name: linux/amd64
          rating: 4.3
          tags:
          - id: 1
            name: image-build
          versions:
          - id: 1
            version: "0.1"
          - id: 2
            version: "0.2"
      required:
      - data
    StatusResponseBody:
      type: object
      properties:
        services:
          type: array
          items:
            $ref: '#/components/schemas/HubService'
          description: List of services and their status
          example:
          - error: unable to reach db
            name: api
            status: ok
          - error: unable to reach db
            name: api
            status: ok
      example:
        services:
        - error: unable to reach db
          name: api
          status: ok
        - error: unable to reach db
          name: api
          status: ok
        - error: unable to reach db
          name: api
          status: ok
        - error: unable to reach db
          name: api
          status: ok
    Token:
      type: object
      properties:
        expiresAt:
          type: integer
          description: Time the token will expires at
          example: 0
          format: int64
        refreshInterval:
          type: string
          description: Duration the token will Expire In
          example: 1h30m
        token:
          type: string
          description: JWT
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
      description: Token includes the JWT, Expire Duration & Time
      example:
        expiresAt: 0
        refreshInterval: 1h30m
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
      required:
      - token
      - refreshInterval
      - expiresAt
    UpdateAgentRequestBody:
      type: object
      properties:
        name:
          type: string
          description: Name of Agent
          example: abc
        scopes:
          type: array
          items:
            type: string
            example: Dolor esse officia velit aliquid.
          description: Scopes required for Agent
          example:
          - catalog-refresh
          - agent:create
      example:
        name: abc
        scopes:
        - catalog-refresh
        - agent:create
      required:
      - name
      - scopes
    UpdateAgentResponseBody:
      type: object
      properties:
        token:
          type: string
          description: Agent JWT
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
      example:
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
      required:
      - token
    UpdateRequestBody:
      type: object
      properties:
        rating:
          type: integer
          description: User rating for resource
          example: 3
          minimum: 0
          maximum: 5
      example:
        rating: 4
      required:
      - rating
    UserData:
      type: object
      properties:
        avatarUrl:
          type: string
          description: Github user's profile picture url
          example: https://avatars.githubusercontent.com
        githubId:
          type: string
          description: Github id of User
          example: abc123
        name:
          type: string
          description: Github user name
          example: abc
      description: Github user Information
      example:
        avatarUrl: https://avatars.githubusercontent.com
        githubId: abc123
        name: abc
      required:
      - githubId
      - name
      - avatarUrl
    Versions:
      type: object
      properties:
        latest:
          $ref: '#/components/schemas/ResourceVersionData'
        versions:
          type: array
          items:
            $ref: '#/components/schemas/ResourceVersionData'
          description: List of all versions of resource
          example:
          - id: 1
            rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
            version: "0.1"
            webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
          - id: 2
            rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.2/buildah.yaml
            version: "0.2"
            webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.2/buildah.yaml
      description: The Versions type describes response for versions by resource id
        API.
      example:
        latest:
          id: 2
          rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.2/buildah.yaml
          version: "0.2"
          webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.2/buildah.yaml
        versions:
        - id: 1
          rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
          version: "0.1"
          webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
        - id: 2
          rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.2/buildah.yaml
          version: "0.2"
          webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.2/buildah.yaml
      required:
      - latest
      - versions
  securitySchemes:
    jwt_header_Authorization:
      type: http
      description: Secures endpoint by requiring a valid JWT retrieved via the /auth/login
        endpoint.
      scheme: bearer
