swagger: "2.0"
info:
  title: Tekton Hub
  description: HTTP services for managing Tekton Hub
  version: "1.0"
host: api.hub.tekton.dev
consumes:
- application/json
- application/xml
- application/gob
produces:
- application/json
- application/xml
- application/gob
paths:
  /:
    get:
      tags:
      - status
      summary: Status status
      description: Return status of the services
      operationId: status#Status
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/StatusStatusResponseBody'
      schemes:
      - https
  /auth/login:
    post:
      tags:
      - auth
      summary: Authenticate auth
      description: Authenticates users against GitHub OAuth
      operationId: auth#Authenticate
      parameters:
      - name: code
        in: query
        description: OAuth Authorization code of User
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/AuthAuthenticateResponseBody'
            required:
            - data
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/AuthAuthenticateInvalidCodeResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/AuthAuthenticateInvalidTokenResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/AuthAuthenticateInvalidScopesResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/AuthAuthenticateInternalErrorResponseBody'
      schemes:
      - https
  /catalog/{catalogName}/error:
    get:
      tags:
      - catalog
      summary: CatalogError catalog
      description: |-
        List all errors occurred refreshing a catalog

        **Required security scopes for jwt**:
          * `catalog:refresh`
      operationId: catalog#CatalogError
      parameters:
      - name: catalogName
        in: path
        description: Name of catalog
        required: true
        type: string
      - name: Authorization
        in: header
        description: JWT
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/CatalogCatalogErrorResponseBody'
            required:
            - data
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/CatalogCatalogErrorInternalErrorResponseBody'
      schemes:
      - https
      security:
      - jwt_header_Authorization: []
  /catalog/{catalogName}/refresh:
    post:
      tags:
      - catalog
      summary: Refresh catalog
      description: |-
        Refresh a Catalog by it's name

        **Required security scopes for jwt**:
          * `catalog:refresh`
      operationId: catalog#Refresh
      parameters:
      - name: catalogName
        in: path
        description: Name of catalog
        required: true
        type: string
      - name: Authorization
        in: header
        description: JWT
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/CatalogRefreshResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/CatalogRefreshNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/CatalogRefreshInternalErrorResponseBody'
      schemes:
      - https
      security:
      - jwt_header_Authorization: []
  /catalog/refresh:
    post:
      tags:
      - catalog
      summary: RefreshAll catalog
      description: |-
        Refresh all catalogs

        **Required security scopes for jwt**:
          * `catalog:refresh`
      operationId: catalog#RefreshAll
      parameters:
      - name: Authorization
        in: header
        description: JWT
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            type: array
            items:
              $ref: '#/definitions/JobResponse'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/CatalogRefreshAllInternalErrorResponseBody'
      schemes:
      - https
      security:
      - jwt_header_Authorization: []
  /categories:
    get:
      tags:
      - category
      summary: list category
      description: List all categories along with their tags sorted by name
      operationId: category#list
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/CategoryListResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/CategoryListInternalErrorResponseBody'
      schemes:
      - https
  /query:
    get:
      tags:
      - resource
      summary: Query resource
      description: Find resources by a combination of name, kind, catalog, categories,
        platforms, and tags
      operationId: resource#Query
      parameters:
      - name: name
        in: query
        description: Name of resource
        required: false
        type: string
        default: ""
      - name: catalogs
        in: query
        description: Catalogs of resource to filter by
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: categories
        in: query
        description: Category associated with a resource to filter by
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: kinds
        in: query
        description: Kinds of resource to filter by
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: tags
        in: query
        description: Tags associated with a resource to filter by
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: platforms
        in: query
        description: Platforms associated with a resource to filter by
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Maximum number of resources to be returned
        required: false
        type: integer
        default: 1000
      - name: match
        in: query
        description: Strategy used to find matching resources
        required: false
        type: string
        default: contains
        enum:
        - exact
        - contains
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/ResourceQueryResponseBody'
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/ResourceQueryInvalidKindResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ResourceQueryNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/ResourceQueryInternalErrorResponseBody'
      schemes:
      - https
  /resource/{catalog}/{kind}/{name}:
    get:
      tags:
      - resource
      summary: ByCatalogKindName resource
      description: Find resources using name of catalog, resource name and kind of
        resource
      operationId: resource#ByCatalogKindName
      parameters:
      - name: pipelinesversion
        in: query
        description: To find resource compatible with a Tekton pipelines version,
          use this param
        required: false
        type: string
        pattern: ^\d+(?:\.\d+){0,2}$
      - name: catalog
        in: path
        description: name of catalog
        required: true
        type: string
      - name: kind
        in: path
        description: kind of resource
        required: true
        type: string
        enum:
        - task
        - pipeline
      - name: name
        in: path
        description: Name of resource
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/ResourceByCatalogKindNameResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ResourceByCatalogKindNameNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/ResourceByCatalogKindNameInternalErrorResponseBody'
      schemes:
      - https
  /resource/{catalog}/{kind}/{name}/{version}:
    get:
      tags:
      - resource
      summary: ByCatalogKindNameVersion resource
      description: Find resource using name of catalog & name, kind and version of
        resource
      operationId: resource#ByCatalogKindNameVersion
      parameters:
      - name: catalog
        in: path
        description: name of catalog
        required: true
        type: string
      - name: kind
        in: path
        description: kind of resource
        required: true
        type: string
        enum:
        - task
        - pipeline
      - name: name
        in: path
        description: name of resource
        required: true
        type: string
      - name: version
        in: path
        description: version of resource
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/ResourceByCatalogKindNameVersionResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ResourceByCatalogKindNameVersionNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/ResourceByCatalogKindNameVersionInternalErrorResponseBody'
      schemes:
      - https
  /resource/{id}:
    get:
      tags:
      - resource
      summary: ById resource
      description: Find a resource using it's id
      operationId: resource#ById
      parameters:
      - name: id
        in: path
        description: ID of a resource
        required: true
        type: integer
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/ResourceByIDResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ResourceByIDNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/ResourceByIDInternalErrorResponseBody'
      schemes:
      - https
  /resource/{id}/rating:
    get:
      tags:
      - rating
      summary: Get rating
      description: |-
        Find user's rating for a resource

        **Required security scopes for jwt**:
          * `rating:read`
      operationId: rating#Get
      parameters:
      - name: id
        in: path
        description: ID of a resource
        required: true
        type: integer
      - name: Authorization
        in: header
        description: JWT
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/RatingGetResponseBody'
            required:
            - rating
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/RatingGetInvalidTokenResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/RatingGetInvalidScopesResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/RatingGetNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/RatingGetInternalErrorResponseBody'
      schemes:
      - https
      security:
      - jwt_header_Authorization: []
    put:
      tags:
      - rating
      summary: Update rating
      description: |-
        Update user's rating for a resource

        **Required security scopes for jwt**:
          * `rating:write`
      operationId: rating#Update
      parameters:
      - name: id
        in: path
        description: ID of a resource
        required: true
        type: integer
      - name: Authorization
        in: header
        description: JWT
        required: true
        type: string
      - name: UpdateRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/RatingUpdateRequestBody'
          required:
          - rating
      responses:
        "200":
          description: OK response.
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/RatingUpdateInvalidTokenResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/RatingUpdateInvalidScopesResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/RatingUpdateNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/RatingUpdateInternalErrorResponseBody'
      schemes:
      - https
      security:
      - jwt_header_Authorization: []
  /resource/{id}/versions:
    get:
      tags:
      - resource
      summary: VersionsByID resource
      description: Find all versions of a resource by its id
      operationId: resource#VersionsByID
      parameters:
      - name: id
        in: path
        description: ID of a resource
        required: true
        type: integer
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/ResourceVersionsByIDResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ResourceVersionsByIDNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/ResourceVersionsByIDInternalErrorResponseBody'
      schemes:
      - https
  /resource/version/{versionID}:
    get:
      tags:
      - resource
      summary: ByVersionId resource
      description: Find a resource using its version's id
      operationId: resource#ByVersionId
      parameters:
      - name: versionID
        in: path
        description: Version ID of a resource's version
        required: true
        type: integer
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/ResourceByVersionIDResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ResourceByVersionIDNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/ResourceByVersionIDInternalErrorResponseBody'
      schemes:
      - https
  /resources:
    get:
      tags:
      - resource
      summary: List resource
      description: List all resources sorted by rating and name
      operationId: resource#List
      parameters:
      - name: limit
        in: query
        description: Maximum number of resources to be returned
        required: false
        type: integer
        default: 1000
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/ResourceListResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/ResourceListInternalErrorResponseBody'
      schemes:
      - https
  /schema/swagger.json:
    get:
      tags:
      - swagger
      summary: Download docs/openapi3.json
      description: JSON document containing the API swagger definition
      operationId: swagger#/schema/swagger.json
      responses:
        "200":
          description: File downloaded
          schema:
            type: file
      schemes:
      - https
  /system/config/refresh:
    post:
      tags:
      - admin
      summary: RefreshConfig admin
      description: |-
        Refresh the changes in config file

        **Required security scopes for jwt**:
          * `config:refresh`
      operationId: admin#RefreshConfig
      parameters:
      - name: Authorization
        in: header
        description: User JWT
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/AdminRefreshConfigResponseBody'
            required:
            - checksum
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/AdminRefreshConfigInvalidTokenResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/AdminRefreshConfigInvalidScopesResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/AdminRefreshConfigInternalErrorResponseBody'
      schemes:
      - https
      security:
      - jwt_header_Authorization: []
  /system/user/agent:
    put:
      tags:
      - admin
      summary: UpdateAgent admin
      description: |-
        Create or Update an agent user with required scopes

        **Required security scopes for jwt**:
          * `agent:create`
      operationId: admin#UpdateAgent
      parameters:
      - name: Authorization
        in: header
        description: User JWT
        required: true
        type: string
      - name: UpdateAgentRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AdminUpdateAgentRequestBody'
          required:
          - name
          - scopes
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/AdminUpdateAgentResponseBody'
            required:
            - token
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/AdminUpdateAgentInvalidPayloadResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/AdminUpdateAgentInvalidTokenResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/AdminUpdateAgentInvalidScopesResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/AdminUpdateAgentInternalErrorResponseBody'
      schemes:
      - https
      security:
      - jwt_header_Authorization: []
  /user/info:
    get:
      tags:
      - user
      summary: Info user
      description: Get the user Info
      operationId: user#Info
      parameters:
      - name: Authorization
        in: header
        description: Access Token of User
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/UserInfoResponseBody'
            required:
            - data
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/UserInfoInvalidTokenResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/UserInfoInvalidScopesResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/UserInfoInternalErrorResponseBody'
      schemes:
      - https
      security:
      - jwt_header_Authorization: []
  /user/refresh/accesstoken:
    post:
      tags:
      - user
      summary: RefreshAccessToken user
      description: |-
        Refresh the access token of User

        **Required security scopes for jwt**:
          * `refresh:token`
      operationId: user#RefreshAccessToken
      parameters:
      - name: Authorization
        in: header
        description: Refresh Token of User
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/UserRefreshAccessTokenResponseBody'
            required:
            - data
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/UserRefreshAccessTokenInvalidTokenResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/UserRefreshAccessTokenInvalidScopesResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/UserRefreshAccessTokenInternalErrorResponseBody'
      schemes:
      - https
      security:
      - jwt_header_Authorization: []
  /user/refresh/refreshtoken:
    post:
      tags:
      - user
      summary: NewRefreshToken user
      description: |-
        Get a new refresh token of User

        **Required security scopes for jwt**:
          * `refresh:token`
      operationId: user#NewRefreshToken
      parameters:
      - name: Authorization
        in: header
        description: Refresh Token of User
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/UserNewRefreshTokenResponseBody'
            required:
            - data
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/UserNewRefreshTokenInvalidTokenResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/UserNewRefreshTokenInvalidScopesResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/UserNewRefreshTokenInternalErrorResponseBody'
      schemes:
      - https
      security:
      - jwt_header_Authorization: []
  /v1:
    get:
      tags:
      - status
      summary: Status status
      description: Return status of the services
      operationId: status#Status#1
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/StatusStatusResponseBody'
      schemes:
      - https
  /v1/categories:
    get:
      tags:
      - category
      summary: list category
      description: List all categories along with their tags sorted by name
      operationId: category#list#1
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/CategoryListResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/CategoryListInternalErrorResponseBody'
      schemes:
      - https
definitions:
  AccessTokenResponseBody:
    title: AccessTokenResponseBody
    type: object
    properties:
      access:
        $ref: '#/definitions/TokenResponseBody'
    description: Access Token for User
    example:
      access:
        expiresAt: 0
        refreshInterval: 1h30m
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
  AdminRefreshConfigInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal server error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AdminRefreshConfigInvalidScopesResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Invalid Token scopes  (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AdminRefreshConfigInvalidTokenResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Invalid User token (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AdminRefreshConfigResponseBody:
    title: AdminRefreshConfigResponseBody
    type: object
    properties:
      checksum:
        type: string
        description: Config file checksum
        example: 41ba391c8baf1fcd3c62c11272b913dc6613f4cf3b1833cfbb32431dc4384c93
    example:
      checksum: 41ba391c8baf1fcd3c62c11272b913dc6613f4cf3b1833cfbb32431dc4384c93
    required:
    - checksum
  AdminUpdateAgentInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal server error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AdminUpdateAgentInvalidPayloadResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Invalid request body (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AdminUpdateAgentInvalidScopesResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Invalid Token scopes  (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AdminUpdateAgentInvalidTokenResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Invalid User token (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AdminUpdateAgentRequestBody:
    title: AdminUpdateAgentRequestBody
    type: object
    properties:
      name:
        type: string
        description: Name of Agent
        example: abc
      scopes:
        type: array
        items:
          type: string
          example: Autem ut est error eaque.
        description: Scopes required for Agent
        example:
        - catalog-refresh
        - agent:create
    example:
      name: abc
      scopes:
      - catalog-refresh
      - agent:create
    required:
    - name
    - scopes
  AdminUpdateAgentResponseBody:
    title: AdminUpdateAgentResponseBody
    type: object
    properties:
      token:
        type: string
        description: Agent JWT
        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
    example:
      token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
    required:
    - token
  AuthAuthenticateInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal Server Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AuthAuthenticateInvalidCodeResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Invalid Authorization code (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AuthAuthenticateInvalidScopesResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Invalid User scope (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AuthAuthenticateInvalidTokenResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Invalid User token (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AuthAuthenticateResponseBody:
    title: AuthAuthenticateResponseBody
    type: object
    properties:
      data:
        $ref: '#/definitions/AuthTokensResponseBody'
    example:
      data:
        access:
          expiresAt: 0
          refreshInterval: 1h30m
          token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
        refresh:
          expiresAt: 0
          refreshInterval: 1h30m
          token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
    required:
    - data
  AuthTokensResponseBody:
    title: AuthTokensResponseBody
    type: object
    properties:
      access:
        $ref: '#/definitions/TokenResponseBody'
      refresh:
        $ref: '#/definitions/TokenResponseBody'
    description: Auth tokens have access and refresh token for user
    example:
      access:
        expiresAt: 0
        refreshInterval: 1h30m
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
      refresh:
        expiresAt: 0
        refreshInterval: 1h30m
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
  CatalogCatalogErrorInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal Server Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CatalogCatalogErrorResponseBody:
    title: CatalogCatalogErrorResponseBody
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/CatalogErrorsResponseBody'
        description: Catalog errors
        example:
        - errors:
          - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
          - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
          type: warning
        - errors:
          - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
          - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
          type: warning
        - errors:
          - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
          - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
          type: warning
    example:
      data:
      - errors:
        - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
        - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
        type: warning
      - errors:
        - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
        - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
        type: warning
      - errors:
        - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
        - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
        type: warning
    required:
    - data
  CatalogErrorsResponseBody:
    title: CatalogErrorsResponseBody
    type: object
    properties:
      errors:
        type: array
        items:
          type: string
          example: Omnis aut beatae reiciendis accusantium distinctio.
        description: Catalog Error message
        example:
        - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
        - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
      type:
        type: string
        description: Catalog Errror type
        example: warning
    description: CatalogErrors define the errors that occurred during catalog refresh
    example:
      errors:
      - Resource tekton.dev/v1beta1, Kind=Task - buildah has no display name
      - Resource tekton.dev/v1beta1, Kind=task - curl has no display name
      type: warning
    required:
    - type
    - errors
  CatalogRefreshAllInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal Server Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CatalogRefreshInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal Server Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CatalogRefreshNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Resource Not Found Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CatalogRefreshResponseBody:
    title: 'Mediatype identifier: application/vnd.hub.job; view=default'
    type: object
    properties:
      catalogName:
        type: string
        description: Name of the catalog
        example: tekton
      id:
        type: integer
        description: id of the job
        example: 1
        format: int64
      status:
        type: string
        description: status of the job
        example: queued
    description: RefreshResponseBody result type (default view)
    example:
      catalogName: tekton
      id: 1
      status: queued
    required:
    - id
    - catalogName
    - status
  CatalogResponseBodyMin:
    title: 'Mediatype identifier: application/vnd.hub.catalog; view=default'
    type: object
    properties:
      id:
        type: integer
        description: ID is the unique id of the catalog
        example: 1
        format: int64
      name:
        type: string
        description: Name of catalog
        example: Tekton
      type:
        type: string
        description: Type of catalog
        example: community
        enum:
        - official
        - community
    description: CatalogResponseBodyMin result type (default view)
    example:
      id: 1
      name: Tekton
      type: community
    required:
    - id
    - name
    - type
  CategoryListInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal Server Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CategoryListResponseBody:
    title: CategoryListResponseBody
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/CategoryResponseBody'
        example:
        - id: 1
          name: Image Builder
        - id: 1
          name: Image Builder
    example:
      data:
      - id: 1
        name: Image Builder
      - id: 1
        name: Image Builder
      - id: 1
        name: Image Builder
      - id: 1
        name: Image Builder
  CategoryResponseBody:
    title: CategoryResponseBody
    type: object
    properties:
      id:
        type: integer
        description: ID is the unique id of the category
        example: 1
        format: int64
      name:
        type: string
        description: Name of category
        example: Image Builder
    example:
      id: 1
      name: Image Builder
    required:
    - id
    - name
  HubServiceResponseBody:
    title: HubServiceResponseBody
    type: object
    properties:
      error:
        type: string
        description: Details of the error if any
        example: unable to reach db
      name:
        type: string
        description: Name of the service
        example: api
      status:
        type: string
        description: Status of the service
        example: ok
        enum:
        - ok
        - error
    description: Describes the services and their status
    example:
      error: unable to reach db
      name: api
      status: ok
    required:
    - name
    - status
  JobResponse:
    title: 'Mediatype identifier: application/vnd.hub.job; view=default'
    type: object
    properties:
      catalogName:
        type: string
        description: Name of the catalog
        example: tekton
      id:
        type: integer
        description: id of the job
        example: 1
        format: int64
      status:
        type: string
        description: status of the job
        example: queued
    description: The Job type describes a catalog refresh job that is run asynchronously
      (default view)
    example:
      catalogName: tekton
      id: 1
      status: queued
    required:
    - id
    - catalogName
    - status
  PlatformResponseBody:
    title: PlatformResponseBody
    type: object
    properties:
      id:
        type: integer
        description: ID is the unique id of platform
        example: 1
        format: int64
      name:
        type: string
        description: Name of platform
        example: linux/amd64
    example:
      id: 1
      name: linux/amd64
    required:
    - id
    - name
  RatingGetInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal server error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingGetInvalidScopesResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Invalid User scope (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingGetInvalidTokenResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Invalid User token (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingGetNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Resource Not Found Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingGetResponseBody:
    title: RatingGetResponseBody
    type: object
    properties:
      rating:
        type: integer
        description: User rating for resource
        example: 4
        format: int64
    example:
      rating: 4
    required:
    - rating
  RatingUpdateInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal server error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingUpdateInvalidScopesResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Invalid User scope (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingUpdateInvalidTokenResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Invalid User token (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingUpdateNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Resource Not Found Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingUpdateRequestBody:
    title: RatingUpdateRequestBody
    type: object
    properties:
      rating:
        type: integer
        description: User rating for resource
        example: 2
        minimum: 0
        maximum: 5
    example:
      rating: 1
    required:
    - rating
  RefreshTokenResponseBody:
    title: RefreshTokenResponseBody
    type: object
    properties:
      refresh:
        $ref: '#/definitions/TokenResponseBody'
    description: Refresh Token for User
    example:
      refresh:
        expiresAt: 0
        refreshInterval: 1h30m
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Nzc4ODAzMDAsImlhdCI6MTU3Nzg4MDAwMCwiaWQiOjExLCJpc3MiOiJUZWt0b24gSHViIiwic2NvcGVzIjpbInJhdGluZzpyZWFkIiwicmF0aW5nOndyaXRlIiwiYWdlbnQ6Y3JlYXRlIl0sInR5cGUiOiJhY2Nlc3MtdG9rZW4ifQ.6pDmziSKkoSqI1f0rc4-AqVdcfY0Q8wA-tSLzdTCLgM
  ResourceByCatalogKindNameInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal Server Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByCatalogKindNameNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Resource Not Found Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByCatalogKindNameResponseBody:
    title: 'Mediatype identifier: application/vnd.hub.resource; view=default'
    type: object
    properties:
      data:
        $ref: '#/definitions/ResourceDataResponseBody'
    description: ByCatalogKindNameResponseBody result type (default view)
    example:
      data:
        catalog:
          id: 1
          name: tekton
          type: community
        categories:
        - id: 1
          name: image-build
        id: 1
        kind: task
        latestVersion:
          description: Buildah task builds source into a container image and then
            pushes it to a container registry.
          displayName: Buildah
          id: 1
          minPipelinesVersion: 0.12.1
          platforms:
          - id: 1
            name: linux/amd64
          rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
          updatedAt: 2020-01-01 12:00:00 +0000 UTC
          version: "0.1"
          webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
        name: buildah
        platforms:
        - id: 1
          name: linux/amd64
        rating: 4.3
        tags:
        - id: 1
          name: image-build
        versions:
        - id: 1
          version: "0.1"
        - id: 2
          version: "0.2"
    required:
    - data
  ResourceByCatalogKindNameVersionInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal Server Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByCatalogKindNameVersionNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Resource Not Found Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByCatalogKindNameVersionResponseBody:
    title: 'Mediatype identifier: application/vnd.hub.resource.version; view=default'
    type: object
    properties:
      data:
        $ref: '#/definitions/ResourceVersionDataResponseBody'
    description: ByCatalogKindNameVersionResponseBody result type (default view)
    example:
      data:
        deprecated: true
        description: Buildah task builds source into a container image and then pushes
          it to a container registry.
        displayName: Buildah
        id: 1
        minPipelinesVersion: 0.12.1
        platforms:
        - id: 1
          name: linux/s390x
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
        resource:
          catalog:
            id: 1
            type: community
          categories:
          - id: 1
            name: Build Tools
          id: 1
          kind: task
          name: buildah
          platforms:
          - id: 1
            name: linux/amd64
          rating: 4.3
          tags:
          - id: 1
            name: image-build
        updatedAt: 2020-01-01 12:00:00 +0000 UTC
        version: "0.1"
        webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
    required:
    - data
  ResourceByIDInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal Server Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByIDNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Resource Not Found Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByIDResponseBody:
    title: 'Mediatype identifier: application/vnd.hub.resource; view=default'
    type: object
    properties:
      data:
        $ref: '#/definitions/ResourceDataResponseBody'
    description: ByIdResponseBody result type (default view)
    example:
      data:
        catalog:
          id: 1
          name: tekton
          type: community
        categories:
        - id: 1
          name: image-build
        id: 1
        kind: task
        latestVersion:
          description: Buildah task builds source into a container image and then
            pushes it to a container registry.
          displayName: Buildah
          id: 1
          minPipelinesVersion: 0.12.1
          platforms:
          - id: 1
            name: linux/amd64
          rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
          updatedAt: 2020-01-01 12:00:00 +0000 UTC
          version: "0.1"
          webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
        name: buildah
        platforms:
        - id: 1
          name: linux/amd64
        rating: 4.3
        tags:
        - id: 1
          name: image-build
        versions:
        - id: 1
          version: "0.1"
        - id: 2
          version: "0.2"
    required:
    - data
  ResourceByVersionIDInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal Server Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByVersionIDNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Resource Not Found Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByVersionIDResponseBody:
    title: 'Mediatype identifier: application/vnd.hub.resource.version; view=default'
    type: object
    properties:
      data:
        $ref: '#/definitions/ResourceVersionDataResponseBody'
    description: ByVersionIdResponseBody result type (default view)
    example:
      data:
        deprecated: true
        description: Buildah task builds source into a container image and then pushes
          it to a container registry.
        displayName: Buildah
        id: 1
        minPipelinesVersion: 0.12.1
        platforms:
        - id: 1
          name: linux/s390x
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
        resource:
          catalog:
            id: 1
            type: community
          categories:
          - id: 1
            name: Build Tools
          id: 1
          kind: task
          name: buildah
          platforms:
          - id: 1
            name: linux/amd64
          rating: 4.3
          tags:
          - id: 1
            name: image-build
        updatedAt: 2020-01-01 12:00:00 +0000 UTC
        version: "0.1"
        webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
    required:
    - data
  ResourceDataResponseBody:
    title: 'Mediatype identifier: application/vnd.hub.resource.data; view=default'
    type: object
    properties:
      catalog:
        $ref: '#/definitions/CatalogResponseBodyMin'
      categories:
        type: array
        items:
          $ref: '#/definitions/CategoryResponseBody'
        description: Categories related to resource
        example:
        - id: 1
          name: image-build
      id:
        type: integer
        description: ID is the unique id of the resource
        example: 1
        format: int64
      kind:
        type: string
        description: Kind of resource
        example: task
      latestVersion:
        $ref: '#/definitions/ResourceVersionDataResponseBodyWithoutResource'
      name:
        type: string
        description: Name of resource
        example: buildah
      platforms:
        type: array
        items:
          $ref: '#/definitions/PlatformResponseBody'
        description: Platforms related to resource
        example:
        - id: 1
          name: linux/amd64
      rating:
        type: number
        description: Rating of resource
        example: 4.3
        format: double
      tags:
        type: array
        items:
          $ref: '#/definitions/TagResponseBody'
        description: Tags related to resource
        example:
        - id: 1
          name: image-build
      versions:
        type: array
        items:
          $ref: '#/definitions/ResourceVersionDataResponseBodyTiny'
        description: List of all versions of a resource
        example:
        - id: 1
          version: "0.1"
        - id: 2
          version: "0.2"
    description: The resource type describes resource information.
    example:
      catalog:
        id: 1
        name: tekton
        type: community
      categories:
      - id: 1
        name: image-build
      id: 1
      kind: task
      latestVersion:
        description: Buildah task builds source into a container image and then pushes
          it to a container registry.
        displayName: Buildah
        id: 1
        minPipelinesVersion: 0.12.1
        platforms:
        - id: 1
          name: linux/amd64
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
        updatedAt: 2020-01-01 12:00:00 +0000 UTC
        version: "0.1"
        webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
      name: buildah
      platforms:
      - id: 1
        name: linux/amd64
      rating: 4.3
      tags:
      - id: 1
        name: image-build
      versions:
      - id: 1
        version: "0.1"
      - id: 2
        version: "0.2"
    required:
    - id
    - name
    - catalog
    - categories
    - kind
    - latestVersion
    - tags
    - platforms
    - rating
    - versions
  ResourceDataResponseBodyInfo:
    title: 'Mediatype identifier: application/vnd.hub.resource.data; view=default'
    type: object
    properties:
      catalog:
        $ref: '#/definitions/CatalogResponseBodyMin'
      categories:
        type: array
        items:
          $ref: '#/definitions/CategoryResponseBody'
        description: Categories related to resource
        example:
        - id: 1
          name: image-build
      id:
        type: integer
        description: ID is the unique id of the resource
        example: 1
        format: int64
      kind:
        type: string
        description: Kind of resource
        example: task
      name:
        type: string
        description: Name of resource
        example: buildah
      platforms:
        type: array
        items:
          $ref: '#/definitions/PlatformResponseBody'
        description: Platforms related to resource
        example:
        - id: 1
          name: linux/amd64
      rating:
        type: number
        description: Rating of resource
        example: 4.3
        format: double
      tags:
        type: array
        items:
          $ref: '#/definitions/TagResponseBody'
        description: Tags related to resource
        example:
        - id: 1
          name: image-build
    description: The resource type describes resource information. (default view)
    example:
      catalog:
        id: 1
        name: tekton
        type: community
      categories:
      - id: 1
        name: image-build
      id: 1
      kind: task
      name: buildah
      platforms:
      - id: 1
        name: linux/amd64
      rating: 4.3
      tags:
      - id: 1
        name: image-build
    required:
    - id
    - name
    - catalog
    - categories
    - kind
    - tags
    - platforms
    - rating
  ResourceDataResponseBodyWithoutVersion:
    title: 'Mediatype identifier: application/vnd.hub.resource.data; view=default'
    type: object
    properties:
      catalog:
        $ref: '#/definitions/CatalogResponseBodyMin'
      categories:
        type: array
        items:
          $ref: '#/definitions/CategoryResponseBody'
        description: Categories related to resource
        example:
        - id: 1
          name: image-build
      id:
        type: integer
        description: ID is the unique id of the resource
        example: 1
        format: int64
      kind:
        type: string
        description: Kind of resource
        example: task
      latestVersion:
        $ref: '#/definitions/ResourceVersionDataResponseBodyWithoutResource'
      name:
        type: string
        description: Name of resource
        example: buildah
      platforms:
        type: array
        items:
          $ref: '#/definitions/PlatformResponseBody'
        description: Platforms related to resource
        example:
        - id: 1
          name: linux/amd64
      rating:
        type: number
        description: Rating of resource
        example: 4.3
        format: double
      tags:
        type: array
        items:
          $ref: '#/definitions/TagResponseBody'
        description: Tags related to resource
        example:
        - id: 1
          name: image-build
    description: The resource type describes resource information. (withoutVersion
      view) (default view)
    example:
      catalog:
        id: 1
        name: tekton
        type: community
      categories:
      - id: 1
        name: image-build
      id: 1
      kind: task
      latestVersion:
        description: Buildah task builds source into a container image and then pushes
          it to a container registry.
        displayName: Buildah
        id: 1
        minPipelinesVersion: 0.12.1
        platforms:
        - id: 1
          name: linux/amd64
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
        updatedAt: 2020-01-01 12:00:00 +0000 UTC
        version: "0.1"
        webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
      name: buildah
      platforms:
      - id: 1
        name: linux/amd64
      rating: 4.3
      tags:
      - id: 1
        name: image-build
    required:
    - id
    - name
    - catalog
    - categories
    - kind
    - latestVersion
    - tags
    - platforms
    - rating
  ResourceDataResponseBodyWithoutVersionCollection:
    title: 'Mediatype identifier: application/vnd.hub.resource.data; type=collection;
      view=default'
    type: array
    items:
      $ref: '#/definitions/ResourceDataResponseBodyWithoutVersion'
    description: ResourceDataResponseBodyWithoutVersionCollection is the result type
      for an array of ResourceDataResponseBodyWithoutVersion (default view)
    example:
    - catalog:
        id: 1
        name: tekton
        type: community
      categories:
      - id: 1
        name: image-build
      id: 1
      kind: task
      latestVersion:
        description: Buildah task builds source into a container image and then pushes
          it to a container registry.
        displayName: Buildah
        id: 1
        minPipelinesVersion: 0.12.1
        platforms:
        - id: 1
          name: linux/amd64
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
        updatedAt: 2020-01-01 12:00:00 +0000 UTC
        version: "0.1"
        webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
      name: buildah
      platforms:
      - id: 1
        name: linux/amd64
      rating: 4.3
      tags:
      - id: 1
        name: image-build
      versions:
      - id: 1
        version: "0.1"
      - id: 2
        version: "0.2"
    - catalog:
        id: 1
        name: tekton
        type: community
      categories:
      - id: 1
        name: image-build
      id: 1
      kind: task
      latestVersion:
        description: Buildah task builds source into a container image and then pushes
          it to a container registry.
        displayName: Buildah
        id: 1
        minPipelinesVersion: 0.12.1
        platforms:
        - id: 1
          name: linux/amd64
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
        updatedAt: 2020-01-01 12:00:00 +0000 UTC
        version: "0.1"
        webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
      name: buildah
      platforms:
      - id: 1
        name: linux/amd64
      rating: 4.3
      tags:
      - id: 1
        name: image-build
      versions:
      - id: 1
        version: "0.1"
      - id: 2
        version: "0.2"
    - catalog:
        id: 1
        name: tekton
        type: community
      categories:
      - id: 1
        name: image-build
      id: 1
      kind: task
      latestVersion:
        description: Buildah task builds source into a container image and then pushes
          it to a container registry.
        displayName: Buildah
        id: 1
        minPipelinesVersion: 0.12.1
        platforms:
        - id: 1
          name: linux/amd64
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
        updatedAt: 2020-01-01 12:00:00 +0000 UTC
        version: "0.1"
        webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
      name: buildah
      platforms:
      - id: 1
        name: linux/amd64
      rating: 4.3
      tags:
      - id: 1
        name: image-build
      versions:
      - id: 1
        version: "0.1"
      - id: 2
        version: "0.2"
    - catalog:
        id: 1
        name: tekton
        type: community
      categories:
      - id: 1
        name: image-build
      id: 1
      kind: task
      latestVersion:
        description: Buildah task builds source into a container image and then pushes
          it to a container registry.
        displayName: Buildah
        id: 1
        minPipelinesVersion: 0.12.1
        platforms:
        - id: 1
          name: linux/amd64
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
        updatedAt: 2020-01-01 12:00:00 +0000 UTC
        version: "0.1"
        webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
      name: buildah
      platforms:
      - id: 1
        name: linux/amd64
      rating: 4.3
      tags:
      - id: 1
        name: image-build
      versions:
      - id: 1
        version: "0.1"
      - id: 2
        version: "0.2"
  ResourceListInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal Server Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceListResponseBody:
    title: 'Mediatype identifier: application/vnd.hub.resources; view=default'
    type: object
    properties:
      data:
        $ref: '#/definitions/ResourceDataResponseBodyWithoutVersionCollection'
    description: ListResponseBody result type (default view)
    example:
      data:
      - catalog:
          id: 1
          name: tekton
          type: community
        categories:
        - id: 1
          name: image-build
        id: 1
        kind: task
        latestVersion:
          description: Buildah task builds source into a container image and then
            pushes it to a container registry.
          displayName: Buildah
          id: 1
          minPipelinesVersion: 0.12.1
          platforms:
          - id: 1
            name: linux/amd64
          rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
          updatedAt: 2020-01-01 12:00:00 +0000 UTC
          version: "0.1"
          webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
        name: buildah
        platforms:
        - id: 1
          name: linux/amd64
        rating: 4.3
        tags:
        - id: 1
          name: image-build
      - catalog:
          id: 1
          name: tekton
          type: community
        categories:
        - id: 1
          name: image-build
        id: 1
        kind: task
        latestVersion:
          description: Buildah task builds source into a container image and then
            pushes it to a container registry.
          displayName: Buildah
          id: 1
          minPipelinesVersion: 0.12.1
          platforms:
          - id: 1
            name: linux/amd64
          rawURL: https://raw.githubusercontent.com/tektoncd/catalog/main/task/buildah/0.1/buildah.yaml
          updatedAt: 2020-01-01 12:00:00 +0000 UTC
          version: "0.1"
          webURL: https://github.com/tektoncd/catalog/blob/main/task/buildah/0.1/buildah.yaml
        name: buildah
        platforms:
        - id: 1
          name: linux/amd64
        rating: 4.3
        tags:
        - id: 1
          name: image-build
    required:
    - data
  ResourceQueryInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal Server Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceQueryInvalidKindResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Invalid Resource Kind (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceQueryNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Resource Not Found Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceQueryResponseBody:
    title: 'Mediatype identifier: application/vnd.hub.resources; view=default'
[...]
