swagger: "2.0"
info:
  title: Tekton Hub
  description: HTTP services for managing Tekton Hub
  version: "0.1"
host: api.hub.tekton.dev
consumes:
- application/json
- application/xml
- application/gob
produces:
- application/json
- application/xml
- application/gob
paths:
  /:
    get:
      tags:
      - status
      summary: Status status
      description: Return status of the services
      operationId: status#Status
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/StatusStatusResponseBody'
      schemes:
      - http
  /auth/login:
    post:
      tags:
      - auth
      summary: Authenticate auth
      description: Authenticates users against GitHub OAuth
      operationId: auth#Authenticate
      parameters:
      - name: code
        in: query
        description: OAuth Authorization code of User
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/AuthAuthenticateResponseBody'
            required:
            - token
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/AuthAuthenticateInvalidCodeResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/AuthAuthenticateInvalidTokenResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/AuthAuthenticateInvalidScopesResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/AuthAuthenticateInternalErrorResponseBody'
      schemes:
      - http
  /catalog/refresh:
    post:
      tags:
      - catalog
      summary: Refresh catalog
      description: |-
        Refreshes Tekton Catalog

        **Required security scopes for jwt**:
          * `catalog:refresh`
      operationId: catalog#Refresh
      parameters:
      - name: Authorization
        in: header
        description: JWT
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/CatalogRefreshResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/CatalogRefreshNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/CatalogRefreshInternalErrorResponseBody'
      schemes:
      - http
      security:
      - jwt_header_Authorization: []
  /categories:
    get:
      tags:
      - category
      summary: list category
      description: List all categories along with their tags sorted by name
      operationId: category#list
      responses:
        "200":
          description: OK response.
          schema:
            type: array
            items:
              $ref: '#/definitions/CategoryResponse'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/CategoryListInternalErrorResponseBody'
      schemes:
      - http
  /query:
    get:
      tags:
      - resource
      summary: Query resource
      description: Find resources by a combination of name, kind and tags
      operationId: resource#Query
      parameters:
      - name: name
        in: query
        description: Name of resource
        required: false
        type: string
        default: ""
      - name: kinds
        in: query
        description: Kinds of resource to filter by
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: tags
        in: query
        description: Tags associated with a resource to filter by
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Maximum number of resources to be returned
        required: false
        type: integer
        default: 100
      - name: match
        in: query
        description: Strategy used to find matching resources
        required: false
        type: string
        default: contains
        enum:
        - exact
        - contains
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/ResourceResourceResponseWithoutVersionCollection'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ResourceQueryNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/ResourceQueryInternalErrorResponseBody'
      schemes:
      - http
  /resource/{catalog}/{kind}/{name}:
    get:
      tags:
      - resource
      summary: ByCatalogKindName resource
      description: Find resources using name of catalog, resource name and kind of resource
      operationId: resource#ByCatalogKindName
      parameters:
      - name: catalog
        in: path
        description: name of catalog
        required: true
        type: string
      - name: kind
        in: path
        description: kind of resource
        required: true
        type: string
        enum:
        - task
        - pipeline
      - name: name
        in: path
        description: Name of resource
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/ResourceResourceResponseWithoutVersionCollection'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ResourceByCatalogKindNameNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/ResourceByCatalogKindNameInternalErrorResponseBody'
      schemes:
      - http
  /resource/{catalog}/{kind}/{name}/{version}:
    get:
      tags:
      - resource
      summary: ByCatalogKindNameVersion resource
      description: Find resource using name of catalog & name, kind and version of resource
      operationId: resource#ByCatalogKindNameVersion
      parameters:
      - name: catalog
        in: path
        description: name of catalog
        required: true
        type: string
      - name: kind
        in: path
        description: kind of resource
        required: true
        type: string
        enum:
        - task
        - pipeline
      - name: name
        in: path
        description: name of resource
        required: true
        type: string
      - name: version
        in: path
        description: version of resource
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/ResourceByCatalogKindNameVersionResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ResourceByCatalogKindNameVersionNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/ResourceByCatalogKindNameVersionInternalErrorResponseBody'
      schemes:
      - http
  /resource/{id}:
    get:
      tags:
      - resource
      summary: ById resource
      description: Find a resource using it's id
      operationId: resource#ById
      parameters:
      - name: id
        in: path
        description: ID of a resource
        required: true
        type: integer
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/ResourceByIDResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ResourceByIDNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/ResourceByIDInternalErrorResponseBody'
      schemes:
      - http
  /resource/{id}/rating:
    get:
      tags:
      - rating
      summary: Get rating
      description: |-
        Find user's rating for a resource

        **Required security scopes for jwt**:
          * `rating:read`
      operationId: rating#Get
      parameters:
      - name: id
        in: path
        description: ID of a resource
        required: true
        type: integer
      - name: Authorization
        in: header
        description: JWT
        required: true
        type: string
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/RatingGetResponseBody'
            required:
            - rating
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/RatingGetInvalidTokenResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/RatingGetInvalidScopesResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/RatingGetNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/RatingGetInternalErrorResponseBody'
      schemes:
      - http
      security:
      - jwt_header_Authorization: []
    put:
      tags:
      - rating
      summary: Update rating
      description: |-
        Update user's rating for a resource

        **Required security scopes for jwt**:
          * `rating:write`
      operationId: rating#Update
      parameters:
      - name: id
        in: path
        description: ID of a resource
        required: true
        type: integer
      - name: Authorization
        in: header
        description: JWT
        required: true
        type: string
      - name: UpdateRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/RatingUpdateRequestBody'
          required:
          - rating
      responses:
        "200":
          description: OK response.
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/RatingUpdateInvalidTokenResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/RatingUpdateInvalidScopesResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/RatingUpdateNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/RatingUpdateInternalErrorResponseBody'
      schemes:
      - http
      security:
      - jwt_header_Authorization: []
  /resource/{id}/versions:
    get:
      tags:
      - resource
      summary: VersionsByID resource
      description: Find all versions of a resource by its id
      operationId: resource#VersionsByID
      parameters:
      - name: id
        in: path
        description: ID of a resource
        required: true
        type: integer
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/ResourceVersionsByIDResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ResourceVersionsByIDNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/ResourceVersionsByIDInternalErrorResponseBody'
      schemes:
      - http
  /resource/version/{versionID}:
    get:
      tags:
      - resource
      summary: ByVersionId resource
      description: Find a resource using its version's id
      operationId: resource#ByVersionId
      parameters:
      - name: versionID
        in: path
        description: Version ID of a resource's version
        required: true
        type: integer
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/ResourceByVersionIDResponseBody'
        "404":
          description: Not Found response.
          schema:
            $ref: '#/definitions/ResourceByVersionIDNotFoundResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/ResourceByVersionIDInternalErrorResponseBody'
      schemes:
      - http
  /resources:
    get:
      tags:
      - resource
      summary: List resource
      description: List all resources sorted by rating and name
      operationId: resource#List
      parameters:
      - name: limit
        in: query
        description: Maximum number of resources to be returned
        required: false
        type: integer
        default: 100
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/ResourceResourceResponseWithoutVersionCollection'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/ResourceListInternalErrorResponseBody'
      schemes:
      - http
  /swagger/swagger.json:
    get:
      tags:
      - swagger
      summary: Download gen/http/openapi.json
      description: JSON document containing the API swagger definition
      operationId: swagger#/swagger/swagger.json
      responses:
        "200":
          description: File downloaded
          schema:
            type: file
      schemes:
      - http
  /system/user/agent:
    put:
      tags:
      - admin
      summary: UpdateAgent admin
      description: |-
        Create or Update an agent user with required scopes

        **Required security scopes for jwt**:
          * `agent:create`
      operationId: admin#UpdateAgent
      parameters:
      - name: Authorization
        in: header
        description: User JWT
        required: true
        type: string
      - name: UpdateAgentRequestBody
        in: body
        required: true
        schema:
          $ref: '#/definitions/AdminUpdateAgentRequestBody'
          required:
          - name
          - scopes
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/AdminUpdateAgentResponseBody'
            required:
            - token
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/AdminUpdateAgentInvalidPayloadResponseBody'
        "401":
          description: Unauthorized response.
          schema:
            $ref: '#/definitions/AdminUpdateAgentInvalidTokenResponseBody'
        "403":
          description: Forbidden response.
          schema:
            $ref: '#/definitions/AdminUpdateAgentInvalidScopesResponseBody'
        "500":
          description: Internal Server Error response.
          schema:
            $ref: '#/definitions/AdminUpdateAgentInternalErrorResponseBody'
      schemes:
      - http
      security:
      - jwt_header_Authorization: []
definitions:
  AdminUpdateAgentInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal server error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AdminUpdateAgentInvalidPayloadResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Invalid request body (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AdminUpdateAgentInvalidScopesResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Invalid Token scopes  (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AdminUpdateAgentInvalidTokenResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Invalid User token (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AdminUpdateAgentRequestBody:
    title: AdminUpdateAgentRequestBody
    type: object
    properties:
      name:
        type: string
        description: Name of Agent
        example: Dolorem neque maxime nesciunt.
      scopes:
        type: array
        items:
          type: string
          example: Debitis laboriosam incidunt neque asperiores reiciendis hic.
        description: Scopes required for Agent
        example:
        - Dicta itaque possimus.
        - Aut repellat.
        - Qui accusantium nulla ea rem.
        - Ipsam sapiente labore assumenda qui sequi officiis.
    example:
      name: Dolorem laudantium quidem amet suscipit fuga.
      scopes:
      - Eveniet qui sint omnis consequatur omnis.
      - Aut sed voluptas animi molestiae nam.
      - Veniam optio accusamus ut dolorum sapiente modi.
      - Vitae ducimus.
    required:
    - name
    - scopes
  AdminUpdateAgentResponseBody:
    title: AdminUpdateAgentResponseBody
    type: object
    properties:
      token:
        type: string
        description: Agent JWT
        example: Vero vel error nisi quam inventore et.
    example:
      token: Maxime voluptas.
    required:
    - token
  AuthAuthenticateInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal Server Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AuthAuthenticateInvalidCodeResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Invalid Authorization code (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AuthAuthenticateInvalidScopesResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Invalid User scope (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AuthAuthenticateInvalidTokenResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Invalid User token (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  AuthAuthenticateResponseBody:
    title: AuthAuthenticateResponseBody
    type: object
    properties:
      token:
        type: string
        description: JWT
        example: Iure optio ab magnam tempore consequatur fugiat.
    example:
      token: Numquam et ea itaque nam rerum aut.
    required:
    - token
  CatalogRefreshInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal Server Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CatalogRefreshNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Resource Not Found Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CatalogRefreshResponseBody:
    title: 'Mediatype identifier: application/vnd.hub.job; view=default'
    type: object
    properties:
      id:
        type: integer
        description: id of the job
        example: 3078878078453162771
        format: int64
      status:
        type: string
        description: status of the job
        example: Nihil iure laborum aliquam possimus tempore.
    description: RefreshResponseBody result type (default view)
    example:
      id: 8747083405529145370
      status: Voluptatibus voluptatem voluptates sint est officia.
    required:
    - id
    - status
  CatalogResponse:
    title: CatalogResponse
    type: object
    properties:
      id:
        type: integer
        description: ID is the unique id of the catalog
        example: 1
        format: int64
      name:
        type: string
        description: Name of catalog
        example: Tekton
      type:
        type: string
        description: Type of catalog
        example: community
        enum:
        - official
        - community
    example:
      id: 1
      name: Tekton
      type: community
    required:
    - id
    - name
    - type
  CatalogResponseBody:
    title: CatalogResponseBody
    type: object
    properties:
      id:
        type: integer
        description: ID is the unique id of the catalog
        example: 1
        format: int64
      name:
        type: string
        description: Name of catalog
        example: Tekton
      type:
        type: string
        description: Type of catalog
        example: community
        enum:
        - official
        - community
    example:
      id: 1
      name: Tekton
      type: community
    required:
    - id
    - name
    - type
  CategoryListInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal Server Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  CategoryResponse:
    title: CategoryResponse
    type: object
    properties:
      id:
        type: integer
        description: ID is the unique id of the category
        example: 1
        format: int64
      name:
        type: string
        description: Name of category
        example: Image Builder
      tags:
        type: array
        items:
          $ref: '#/definitions/TagResponse'
        description: List of tags associated with the category
        example:
        - id: 1
          name: image-build
        - id: 2
          name: kaniko
    example:
      id: 1
      name: Image Builder
      tags:
      - id: 1
        name: image-build
      - id: 2
        name: kaniko
    required:
    - id
    - name
    - tags
  HubServiceResponseBody:
    title: HubServiceResponseBody
    type: object
    properties:
      error:
        type: string
        description: Details of the error if any
        example: unable to reach db
      name:
        type: string
        description: Name of the service
        example: api
      status:
        type: string
        description: Status of the service
        example: ok
        enum:
        - ok
        - error
    description: Describes the services and their status
    example:
      error: unable to reach db
      name: api
      status: ok
    required:
    - name
    - status
  RatingGetInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal server error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingGetInvalidScopesResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Invalid User scope (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingGetInvalidTokenResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Invalid User token (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingGetNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Resource Not Found Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingGetResponseBody:
    title: RatingGetResponseBody
    type: object
    properties:
      rating:
        type: integer
        description: User rating for resource
        example: 3463136335453028454
        format: int64
    example:
      rating: 2397285505209455147
    required:
    - rating
  RatingUpdateInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal server error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingUpdateInvalidScopesResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Invalid User scope (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingUpdateInvalidTokenResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Invalid User token (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingUpdateNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Resource Not Found Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  RatingUpdateRequestBody:
    title: RatingUpdateRequestBody
    type: object
    properties:
      rating:
        type: integer
        description: User rating for resource
        example: 0
        minimum: 0
        maximum: 5
    example:
      rating: 1
    required:
    - rating
  ResourceByCatalogKindNameInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal Server Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByCatalogKindNameNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Resource Not Found Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByCatalogKindNameVersionInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal Server Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByCatalogKindNameVersionNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Resource Not Found Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByCatalogKindNameVersionResponseBody:
    title: 'Mediatype identifier: application/vnd.hub.version; view=default'
    type: object
    properties:
      description:
        type: string
        description: Description of version
        example: Buildah task builds source into a container image and then pushes it to a container registry.
      displayName:
        type: string
        description: Display name of version
        example: Buildah
      id:
        type: integer
        description: ID is the unique id of resource's version
        example: 1
        format: int64
      minPipelinesVersion:
        type: string
        description: Minimum pipelines version the resource's version is compatible with
        example: 0.12.1
      rawURL:
        type: string
        description: Raw URL of resource's yaml file of the version
        example: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
        format: uri
      resource:
        $ref: '#/definitions/ResourceResponseBodyInfo'
      updatedAt:
        type: string
        description: Timestamp when version was last updated
        example: 2020-01-01 12:00:00 +0000 UTC
        format: date-time
      version:
        type: string
        description: Version of resource
        example: "0.1"
      webURL:
        type: string
        description: Web URL of resource's yaml file of the version
        example: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
        format: uri
    description: ByCatalogKindNameVersionResponseBody result type (default view)
    example:
      description: Buildah task builds source into a container image and then pushes it to a container registry.
      displayName: Buildah
      id: 1
      minPipelinesVersion: 0.12.1
      rawURL: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
      resource:
        catalog:
          id: 1
          type: community
        id: 1
        kind: task
        name: buildah
        rating: 4.3
        tags:
        - id: 1
          name: image-build
      updatedAt: 2020-01-01 12:00:00 +0000 UTC
      version: "0.1"
      webURL: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
    required:
    - id
    - version
    - displayName
    - description
    - minPipelinesVersion
    - rawURL
    - webURL
    - updatedAt
    - resource
  ResourceByIDInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal Server Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByIDNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Resource Not Found Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByIDResponseBody:
    title: 'Mediatype identifier: application/vnd.hub.resource; view=default'
    type: object
    properties:
      catalog:
        $ref: '#/definitions/CatalogResponseBody'
      id:
        type: integer
        description: ID is the unique id of the resource
        example: 1
        format: int64
      kind:
        type: string
        description: Kind of resource
        example: task
      latestVersion:
        $ref: '#/definitions/VersionResponseBodyWithoutResource'
      name:
        type: string
        description: Name of resource
        example: buildah
      rating:
        type: number
        description: Rating of resource
        example: 4.3
        format: double
      tags:
        type: array
        items:
          $ref: '#/definitions/TagResponseBody'
        description: Tags related to resource
        example:
        - id: 1
          name: image-build
      versions:
        type: array
        items:
          $ref: '#/definitions/VersionResponseBodyTiny'
        description: List of all versions of a resource
        example:
        - id: 1
          version: "0.1"
        - id: 2
          version: "0.2"
    description: ByIdResponseBody result type (default view)
    example:
      catalog:
        id: 1
        type: community
      id: 1
      kind: task
      latestVersion:
        description: Buildah task builds source into a container image and then pushes it to a container registry.
        displayName: Buildah
        id: 1
        minPipelinesVersion: 0.12.1
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
        updatedAt: 2020-01-01 12:00:00 +0000 UTC
        version: "0.1"
        webURL: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
      name: buildah
      rating: 4.3
      tags:
      - id: 1
        name: image-build
      versions:
      - id: 1
        version: "0.1"
      - id: 2
        version: "0.2"
    required:
    - id
    - name
    - catalog
    - kind
    - latestVersion
    - tags
    - rating
    - versions
  ResourceByVersionIDInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal Server Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByVersionIDNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Resource Not Found Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceByVersionIDResponseBody:
    title: 'Mediatype identifier: application/vnd.hub.version; view=default'
    type: object
    properties:
      description:
        type: string
        description: Description of version
        example: Buildah task builds source into a container image and then pushes it to a container registry.
      displayName:
        type: string
        description: Display name of version
        example: Buildah
      id:
        type: integer
        description: ID is the unique id of resource's version
        example: 1
        format: int64
      minPipelinesVersion:
        type: string
        description: Minimum pipelines version the resource's version is compatible with
        example: 0.12.1
      rawURL:
        type: string
        description: Raw URL of resource's yaml file of the version
        example: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
        format: uri
      resource:
        $ref: '#/definitions/ResourceResponseBodyInfo'
      updatedAt:
        type: string
        description: Timestamp when version was last updated
        example: 2020-01-01 12:00:00 +0000 UTC
        format: date-time
      version:
        type: string
        description: Version of resource
        example: "0.1"
      webURL:
        type: string
        description: Web URL of resource's yaml file of the version
        example: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
        format: uri
    description: ByVersionIdResponseBody result type (default view)
    example:
      description: Buildah task builds source into a container image and then pushes it to a container registry.
      displayName: Buildah
      id: 1
      minPipelinesVersion: 0.12.1
      rawURL: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
      resource:
        catalog:
          id: 1
          type: community
        id: 1
        kind: task
        name: buildah
        rating: 4.3
        tags:
        - id: 1
          name: image-build
      updatedAt: 2020-01-01 12:00:00 +0000 UTC
      version: "0.1"
      webURL: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
    required:
    - id
    - version
    - displayName
    - description
    - minPipelinesVersion
    - rawURL
    - webURL
    - updatedAt
    - resource
  ResourceListInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Internal Server Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceQueryInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal Server Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceQueryNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Resource Not Found Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: true
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceResourceResponseWithoutVersionCollection:
    title: 'Mediatype identifier: application/vnd.hub.resource; type=collection; view=withoutVersion'
    type: array
    items:
      $ref: '#/definitions/ResourceResponseWithoutVersion'
    description: ResourceResourceResponseWithoutVersionCollection is the result type for an array of ResourceResponseWithoutVersion (default view)
    example:
    - catalog:
        id: 1
        type: community
      id: 1
      kind: task
      latestVersion:
        description: Buildah task builds source into a container image and then pushes it to a container registry.
        displayName: Buildah
        id: 1
        minPipelinesVersion: 0.12.1
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
        updatedAt: 2020-01-01 12:00:00 +0000 UTC
        version: "0.1"
        webURL: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
      name: buildah
      rating: 4.3
      tags:
      - id: 1
        name: image-build
      versions:
      - id: 1
        version: "0.1"
      - id: 2
        version: "0.2"
    - catalog:
        id: 1
        type: community
      id: 1
      kind: task
      latestVersion:
        description: Buildah task builds source into a container image and then pushes it to a container registry.
        displayName: Buildah
        id: 1
        minPipelinesVersion: 0.12.1
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
        updatedAt: 2020-01-01 12:00:00 +0000 UTC
        version: "0.1"
        webURL: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
      name: buildah
      rating: 4.3
      tags:
      - id: 1
        name: image-build
      versions:
      - id: 1
        version: "0.1"
      - id: 2
        version: "0.2"
  ResourceResponseBodyInfo:
    title: 'Mediatype identifier: application/vnd.hub.resource; view=default'
    type: object
    properties:
      catalog:
        $ref: '#/definitions/CatalogResponseBody'
      id:
        type: integer
        description: ID is the unique id of the resource
        example: 1
        format: int64
      kind:
        type: string
        description: Kind of resource
        example: task
      name:
        type: string
        description: Name of resource
        example: buildah
      rating:
        type: number
        description: Rating of resource
        example: 4.3
        format: double
      tags:
        type: array
        items:
          $ref: '#/definitions/TagResponseBody'
        description: Tags related to resource
        example:
        - id: 1
          name: image-build
    description: The resource type describes resource information. (default view)
    example:
      catalog:
        id: 1
        type: community
      id: 1
      kind: task
      name: buildah
      rating: 4.3
      tags:
      - id: 1
        name: image-build
    required:
    - id
    - name
    - catalog
    - kind
    - tags
    - rating
  ResourceResponseWithoutVersion:
    title: 'Mediatype identifier: application/vnd.hub.resource; view=default'
    type: object
    properties:
      catalog:
        $ref: '#/definitions/CatalogResponse'
      id:
        type: integer
        description: ID is the unique id of the resource
        example: 1
        format: int64
      kind:
        type: string
        description: Kind of resource
        example: task
      latestVersion:
        $ref: '#/definitions/VersionResponseWithoutResource'
      name:
        type: string
        description: Name of resource
        example: buildah
      rating:
        type: number
        description: Rating of resource
        example: 4.3
        format: double
      tags:
        type: array
        items:
          $ref: '#/definitions/TagResponse'
        description: Tags related to resource
        example:
        - id: 1
          name: image-build
    description: The resource type describes resource information. (withoutVersion view) (default view)
    example:
      catalog:
        id: 1
        type: community
      id: 1
      kind: task
      latestVersion:
        description: Buildah task builds source into a container image and then pushes it to a container registry.
        displayName: Buildah
        id: 1
        minPipelinesVersion: 0.12.1
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
        updatedAt: 2020-01-01 12:00:00 +0000 UTC
        version: "0.1"
        webURL: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
      name: buildah
      rating: 4.3
      tags:
      - id: 1
        name: image-build
    required:
    - id
    - name
    - catalog
    - kind
    - latestVersion
    - tags
    - rating
  ResourceVersionsByIDInternalErrorResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: false
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Internal Server Error (default view)
    example:
      fault: true
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceVersionsByIDNotFoundResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: false
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: false
    description: Resource Not Found Error (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: false
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  ResourceVersionsByIDResponseBody:
    title: 'Mediatype identifier: application/vnd.hub.versions; view=default'
    type: object
    properties:
      latest:
        $ref: '#/definitions/VersionResponseBodyMin'
      versions:
        type: array
        items:
          $ref: '#/definitions/VersionResponseBodyMin'
        description: List of all versions of resource
        example:
        - id: 1
          rawURL: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
          version: "0.1"
          webURL: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
        - id: 2
          rawURL: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.2/buildah.yaml
          version: "0.2"
          webURL: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.2/buildah.yaml
    description: VersionsByIDResponseBody result type (default view)
    example:
      latest:
        id: 2
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.2/buildah.yaml
        version: "0.2"
        webURL: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.2/buildah.yaml
      versions:
      - id: 1
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
        version: "0.1"
        webURL: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
      - id: 2
        rawURL: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.2/buildah.yaml
        version: "0.2"
        webURL: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.2/buildah.yaml
    required:
    - latest
    - versions
  StatusStatusResponseBody:
    title: StatusStatusResponseBody
    type: object
    properties:
      services:
        type: array
        items:
          $ref: '#/definitions/HubServiceResponseBody'
        description: List of services and their status
        example:
        - error: unable to reach db
          name: api
          status: ok
        - error: unable to reach db
          name: api
          status: ok
    example:
      services:
      - error: unable to reach db
        name: api
        status: ok
      - error: unable to reach db
        name: api
        status: ok
      - error: unable to reach db
        name: api
        status: ok
  TagResponse:
    title: TagResponse
    type: object
    properties:
      id:
        type: integer
        description: ID is the unique id of tag
        example: 1
        format: int64
      name:
        type: string
        description: Name of tag
        example: image-build
    example:
      id: 1
      name: image-build
    required:
    - id
    - name
  TagResponseBody:
    title: TagResponseBody
    type: object
    properties:
      id:
        type: integer
        description: ID is the unique id of tag
        example: 1
        format: int64
      name:
        type: string
        description: Name of tag
        example: image-build
    example:
      id: 1
      name: image-build
    required:
    - id
    - name
  VersionResponseBodyMin:
    title: 'Mediatype identifier: application/vnd.hub.version; view=default'
    type: object
    properties:
      id:
        type: integer
        description: ID is the unique id of resource's version
        example: 1
        format: int64
      rawURL:
        type: string
        description: Raw URL of resource's yaml file of the version
        example: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
        format: uri
      version:
        type: string
        description: Version of resource
        example: "0.1"
      webURL:
        type: string
        description: Web URL of resource's yaml file of the version
        example: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
        format: uri
    description: The Version result type describes resource's version information. (default view)
    example:
      id: 1
      rawURL: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
      version: "0.1"
      webURL: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
    required:
    - id
    - version
    - rawURL
    - webURL
  VersionResponseBodyTiny:
    title: 'Mediatype identifier: application/vnd.hub.version; view=default'
    type: object
    properties:
      id:
        type: integer
        description: ID is the unique id of resource's version
        example: 1
        format: int64
      version:
        type: string
        description: Version of resource
        example: "0.1"
    description: The Version result type describes resource's version information. (default view)
    example:
      id: 1
      version: "0.1"
    required:
    - id
    - version
  VersionResponseBodyWithoutResource:
    title: 'Mediatype identifier: application/vnd.hub.version; view=default'
    type: object
    properties:
      description:
        type: string
        description: Description of version
        example: Buildah task builds source into a container image and then pushes it to a container registry.
      displayName:
        type: string
        description: Display name of version
        example: Buildah
      id:
        type: integer
        description: ID is the unique id of resource's version
        example: 1
        format: int64
      minPipelinesVersion:
        type: string
        description: Minimum pipelines version the resource's version is compatible with
        example: 0.12.1
      rawURL:
        type: string
        description: Raw URL of resource's yaml file of the version
        example: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
        format: uri
      updatedAt:
        type: string
        description: Timestamp when version was last updated
        example: 2020-01-01 12:00:00 +0000 UTC
        format: date-time
      version:
        type: string
        description: Version of resource
        example: "0.1"
      webURL:
        type: string
        description: Web URL of resource's yaml file of the version
        example: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
        format: uri
    description: The Version result type describes resource's version information. (default view)
    example:
      description: Buildah task builds source into a container image and then pushes it to a container registry.
      displayName: Buildah
      id: 1
      minPipelinesVersion: 0.12.1
      rawURL: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
      updatedAt: 2020-01-01 12:00:00 +0000 UTC
      version: "0.1"
      webURL: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
    required:
    - id
    - version
    - displayName
    - description
    - minPipelinesVersion
    - rawURL
    - webURL
    - updatedAt
  VersionResponseWithoutResource:
    title: 'Mediatype identifier: application/vnd.hub.version; view=default'
    type: object
    properties:
      description:
        type: string
        description: Description of version
        example: Buildah task builds source into a container image and then pushes it to a container registry.
      displayName:
        type: string
        description: Display name of version
        example: Buildah
      id:
        type: integer
        description: ID is the unique id of resource's version
        example: 1
        format: int64
      minPipelinesVersion:
        type: string
        description: Minimum pipelines version the resource's version is compatible with
        example: 0.12.1
      rawURL:
        type: string
        description: Raw URL of resource's yaml file of the version
        example: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
        format: uri
      updatedAt:
        type: string
        description: Timestamp when version was last updated
        example: 2020-01-01 12:00:00 +0000 UTC
        format: date-time
      version:
        type: string
        description: Version of resource
        example: "0.1"
      webURL:
        type: string
        description: Web URL of resource's yaml file of the version
        example: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
        format: uri
    description: The Version result type describes resource's version information. (default view)
    example:
      description: Buildah task builds source into a container image and then pushes it to a container registry.
      displayName: Buildah
      id: 1
      minPipelinesVersion: 0.12.1
      rawURL: https://raw.githubusercontent.com/tektoncd/catalog/master/task/buildah/0.1/buildah.yaml
      updatedAt: 2020-01-01 12:00:00 +0000 UTC
      version: "0.1"
      webURL: https://github.com/tektoncd/catalog/blob/master/task/buildah/0.1/buildah.yaml
    required:
    - id
    - version
    - displayName
    - description
    - minPipelinesVersion
    - rawURL
    - webURL
    - updatedAt
securityDefinitions:
  jwt_header_Authorization:
    type: apiKey
    description: |-
      Secures endpoint by requiring a valid JWT retrieved via the /auth/login endpoint.

      **Security Scopes**:
        * `rating:read`: Read-only access to rating
        * `rating:write`: Read and write access to rating
        * `agent:create`: Access to create or update an agent
        * `catalog:refresh`: Access to refresh catalog
    name: Authorization
    in: header
